# D5 - Project 2
----

### Summary
This notebook shows the process we followed to clean, explore and analyze the data set 
that contains information about the __National Household Survey__ for the `Megalopolis -- Zona Metropolitana del Valle de México`

__States:__
** Ciudad de México ** Estado de México ** Hidalgo ** Puebla ** Morelos ** Querétaro  ** Tlaxcala

----

In [1]:
# Dependencies
import pandas as pd

In [2]:
# National Household Survey

# Características de las viviendas que habitan los integrantes de los hogares encuestados

# Save path to data set in a variable
vivienda_file = "./Resources/vivienda.csv"

# Use Pandas to read data - Main file PK folioviv
vivienda_df = pd.read_csv(vivienda_file, low_memory=False) 

# Show the results
vivienda_df.count()

folioviv      56680
tipo_viv      56680
condominio    56680
elevador      56680
mat_pared     56680
mat_techos    56680
mat_pisos     56680
ais_techos    56680
ais_pared     56680
ais_ventan    56680
ais_otro      56680
antiguedad    56680
cocina        56680
cocina_dor    56680
cuart_dorm    56680
num_cuarto    56680
disp_agua     56680
dotac_agua    56680
excusado      56680
uso_compar    56680
sanit_agua    56680
bano_comp     56680
bano_excus    56680
bano_regad    56680
drenaje       56680
disp_elect    56680
anio_panel    56680
panel_ne      56680
pot_panel     56680
potencia      56680
              ...
mes_res       56680
familiar      56680
tipo_adqui    56680
financia_1    56680
financia_2    56680
financia_3    56680
financia_4    56680
financia_5    56680
financia_6    56680
financia_7    56680
financia_8    56680
num_dueno1    56680
hog_dueno1    56680
num_dueno2    56680
hog_dueno2    56680
escrituras    56680
computador    56680
tel_fijo      56680
celular       56680
internet      56680
tv_paga       56680
auto_pick     56680
tot_hog       56680
ubica_geo     56680
ageb          56680
tam_loc       56680
est_socio     56680
est_dis       56680
upm           56680
factor        56680
Length: 110, dtype: int64

In [3]:
# Características de los hogares
# Save path to data set in a variable
hogar_file = "./Resources/hogar.csv"

# Use Pandas to read data - 1st Aux file PK foliohog  FK folioviv
hogar_df = pd.read_csv(hogar_file, low_memory=False) 

# Show the results
hogar_df.count()

folioviv      57519
foliohog      57519
huespedes     57519
huesp_come    57519
trabaja_do    57519
cuid_perso    57519
lavandero     57519
chofer        57519
cocinero      57519
jardinero     57519
tot_integ     57519
tot_hom       57519
tot_muj       57519
dtype: int64

In [4]:
# Contiene características sociodemográficas y ocupacionales de los integrantes del hogar.
# Save path to data set in a variable
persona_file = "./Resources/persona.csv"

# Use Pandas to read data - 2nd Aux file PK id_pobla  FK folioviv, foliohog
persona_df = pd.read_csv(persona_file, low_memory=False) 

# Show the results
persona_df.count()

folioviv      208140
foliohog      208140
id_pobla      208140
edad          208140
nacio_dia     208140
nacio_mes     208140
sexo          208140
parentesco    208140
asiste_esc    208140
tipo_esc      208140
turno_esc     208140
tiene_beca    208140
otorg_beca    208140
forma_beca    208140
no_asiste     208140
grado_inst    208140
nivel_inst    208140
residencia    208140
alfabetism    208140
edo_conyug    208140
trabajo_sp    208140
motivo_aus    208140
act_buscot    208140
act_pensio    208140
act_quehac    208140
act_estudi    208140
act_discap    208140
act_otra      208140
num_trabaj    208140
subor         208140
indep         208140
personal      208140
pago          208140
contrato      208140
lentes        208140
dif_ver       208140
a_auditivo    208140
dif_oir       208140
sin_ruido     208140
con_ruido     208140
dif_camina    208140
usa_aparat    208140
ap_caminar    208140
cam_100mts    208140
cam_500mts    208140
sube_12esc    208140
dif_record    208140
frec_nerv     208140
med_nerv      208140
inte_nerv     208140
frec_depre    208140
med_depre     208140
inte_depre    208140
frec_dolor    208140
inte_dolor    208140
frec_cansa    208140
tiem_cansa    208140
inte_cansa    208140
dtype: int64

### Vivienda file

In [5]:
# Only Megalopolis data from the main file  
# folioviv begins with 9 for Ciudad de México  13 Hidalgo  15 México  17 Morelos  21 Puebla  22 Querétaro  29 Tlaxcala
viv_mega_df = vivienda_df.loc[
    (vivienda_df["folioviv"] > 899999999) & (vivienda_df["folioviv"] < 1000000000) |
    (vivienda_df["folioviv"] > 1299999999) & (vivienda_df["folioviv"] < 1400000000) |
    (vivienda_df["folioviv"] > 1499999999) & (vivienda_df["folioviv"] < 1600000000) |
    (vivienda_df["folioviv"] > 1699999999) & (vivienda_df["folioviv"] < 1800000000) |
    (vivienda_df["folioviv"] > 2099999999) & (vivienda_df["folioviv"] < 2300000000) |
    (vivienda_df["folioviv"] > 2899999999) & (vivienda_df["folioviv"] < 3000000000), :]
viv_mega_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12295 entries, 13805 to 51369
Columns: 110 entries, folioviv to factor
dtypes: int64(64), object(46)
memory usage: 10.4+ MB

In [6]:
# Add a new column to add the state number
viv_mega_df.insert(1, 'state', 0)

In [7]:
# State is inserted after the field folioviv
viv_mega_df.columns

Index(['folioviv', 'state', 'tipo_viv', 'condominio', 'elevador', 'mat_pared',
       'mat_techos', 'mat_pisos', 'ais_techos', 'ais_pared',
       ...
       'tv_paga', 'auto_pick', 'tot_hog', 'ubica_geo', 'ageb', 'tam_loc',
       'est_socio', 'est_dis', 'upm', 'factor'],
      dtype='object', length=111)

In [8]:
# Assign the state number to make groups and counters
viv_mega_df.loc[(viv_mega_df["folioviv"] > 899999999) & (viv_mega_df["folioviv"] < 1000000000), 'state'] = 9
viv_mega_df.loc[(viv_mega_df["folioviv"] > 1299999999) & (viv_mega_df["folioviv"] < 1400000000), 'state'] = 13
viv_mega_df.loc[(viv_mega_df["folioviv"] > 1499999999) & (viv_mega_df["folioviv"] < 1600000000), 'state'] = 15
viv_mega_df.loc[(viv_mega_df["folioviv"] > 1699999999) & (viv_mega_df["folioviv"] < 1800000000), 'state'] = 17
viv_mega_df.loc[(viv_mega_df["folioviv"] > 2099999999) & (viv_mega_df["folioviv"] < 2200000000), 'state'] = 21
viv_mega_df.loc[(viv_mega_df["folioviv"] > 2199999999) & (viv_mega_df["folioviv"] < 2300000000), 'state'] = 22
viv_mega_df.loc[(viv_mega_df["folioviv"] > 2899999999) & (viv_mega_df["folioviv"] < 3000000000), 'state'] = 29

C:\Users\Nancy\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [9]:
#Add a column with the name of the state
viv_mega_df.insert(2, 'state_name', viv_mega_df['state'])

In [10]:
#Add the names of the states in the column state_name
viv_mega_df = viv_mega_df.replace({'state_name' : {9:'Ciudad de México', 13:'Hidalgo', 15:'Estado de México', 17:'Morelos', 21:'Puebla', 22:'Querétaro', 29:'Tlaxcala'}})

In [11]:
viv_mega_df.tail(200)

,folioviv,state,state_name,tipo_viv,condominio,elevador,mat_pared,mat_techos,mat_pisos,ais_techos,...,tv_paga,auto_pick,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor
51170,2960087172,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290340000,000-0,4,2,301,7456,171
51171,2960087182,29,Tlaxcala,1,,,7,9,2,2,...,2,2,1,290340000,000-0,4,2,301,7456,171
51172,2960087186,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290340000,000-0,4,2,301,7456,171
51173,2960128106,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290050000,000-0,4,2,301,7457,154
51174,2960128107,29,Tlaxcala,1,,,8,9,2,2,...,2,2,1,290050000,000-0,4,2,301,7457,154
51175,2960128108,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290050000,000-0,4,2,301,7457,154
51176,2960128109,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290050000,000-0,4,2,301,7457,154
51177,2960128110,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290050000,000-0,4,2,301,7457,154
51178,2960128216,29,Tlaxcala,1,,,8,9,2,2,...,1,1,1,290050000,000-0,4,2,301,7457,154
51179,2960128217,29,Tlaxcala,1,,,8,9,3,2,...,1,2,1,290050000,000-0,4,2,301,7457,154
51180,2960128218,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290050000,000-0,4,2,301,7457,154
51181,2960128219,29,Tlaxcala,1,,,8,9,3,2,...,1,2,1,290050000,000-0,4,2,301,7457,154
51182,2960128238,29,Tlaxcala,1,,,8,9,3,2,...,2,1,1,290050000,000-0,4,2,301,7457,154
51183,2960128239,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290050000,000-0,4,2,301,7457,154
51184,2960128240,29,Tlaxcala,1,,,8,9,2,2,...,2,2,1,290050000,000-0,4,2,301,7457,154
51185,2960128276,29,Tlaxcala,1,,,8,9,3,2,...,1,1,1,290050000,000-0,4,2,301,7457,154
51186,2960128279,29,Tlaxcala,1,,,8,9,3,2,...,1,2,1,290050000,000-0,4,2,301,7457,154
51187,2960128280,29,Tlaxcala,1,,,8,9,3,2,...,1,1,1,290050000,000-0,4,2,301,7457,154
51188,2960128321,29,Tlaxcala,1,,,8,9,2,2,...,2,2,1,290050000,000-0,4,2,301,7457,154
51189,2960128328,29,Tlaxcala,1,,,8,9,2,2,...,2,2,1,290050000,000-0,4,2,301,7457,154
51190,2960128329,29,Tlaxcala,1,,,7,9,3,2,...,1,2,1,290050000,000-0,4,2,301,7457,154
51191,2960128330,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290050000,000-0,4,2,301,7457,154
51192,2960131006,29,Tlaxcala,1,,,7,4,2,2,...,1,2,1,290060000,000-0,4,2,301,7458,157
51193,2960131018,29,Tlaxcala,1,,,8,9,2,2,...,1,1,1,290060000,000-0,4,2,301,7458,157
51194,2960131030,29,Tlaxcala,1,,,8,9,2,2,...,1,1,1,290060000,000-0,4,2,301,7458,157
51195,2960131067,29,Tlaxcala,1,,,8,9,3,2,...,1,2,1,290060000,000-0,4,2,301,7458,157
51196,2960131077,29,Tlaxcala,1,,,8,9,3,2,...,1,1,2,290060000,000-0,4,2,301,7458,157
51197,2960131083,29,Tlaxcala,1,,,8,9,3,2,...,1,2,1,290060000,000-0,4,2,301,7458,157
51198,2960131098,29,Tlaxcala,1,,,8,9,2,2,...,2,1,1,290060000,000-0,4,2,301,7458,157
51199,2960131103,29,Tlaxcala,1,,,8,9,2,2,...,2,1,1,290060000,000-0,4,2,301,7458,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51340,2960249128,29,Tlaxcala,1,,,7,9,2,2,...,2,2,1,290400000,000-0,4,2,301,7466,171
51341,2960249129,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290400000,000-0,4,2,301,7466,171
51342,2960249130,29,Tlaxcala,1,,,8,9,2,2,...,2,2,1,290400000,000-0,4,2,301,7466,171
51343,2960249238,29,Tlaxcala,1,,,8,9,2,2,...,2,2,1,290400000,000-0,4,2,301,7466,171
51344,2960249241,29,Tlaxcala,1,,,7,2,1,2,...,2,2,1,290400000,000-0,4,2,301,7466,171
51345,2960249242,29,Tlaxcala,1,,,8,9,2,2,...,2,2,1,290400000,000-0,4,2,301,7466,171
51346,2960249273,29,Tlaxcala,1,,,8,4,1,2,...,2,2,1,290400000,000-0,4,2,301,7466,171
51347,2960249274,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290400000,000-0,4,2,301,7466,171
51348,2960249275,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290400000,000-0,4,2,301,7466,171
51349,2960249276,29,Tlaxcala,1,,,7,4,2,2,...,2,2,1,290400000,000-0,4,2,301,7466,171
51350,2960249281,29,Tlaxcala,1,,,8,9,2,2,...,2,1,1,290400000,000-0,4,2,301,7466,171
51351,2960259083,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290460000,000-0,4,2,301,7467,185
51352,2960259084,29,Tlaxcala,1,,,8,9,2,2,...,1,1,1,290460000,000-0,4,2,301,7467,185
51353,2960259085,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290460000,000-0,4,2,301,7467,185
51354,2960259086,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290460000,000-0,4,2,301,7467,185
51355,2960259087,29,Tlaxcala,1,,,8,9,2,2,...,1,1,1,290460000,000-0,4,2,301,7467,185
51356,2960259189,29,Tlaxcala,1,,,8,9,2,2,...,1,1,1,290460000,000-0,4,2,301,7467,185
51357,2960259190,29,Tlaxcala,1,,,8,9,2,2,...,1,1,1,290460000,000-0,4,2,301,7467,185
51358,2960259192,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290460000,000-0,4,2,301,7467,185
51359,2960259193,29,Tlaxcala,1,,,8,9,2,2,...,1,1,1,290460000,000-0,4,2,301,7467,185
51360,2960259194,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290460000,000-0,4,2,301,7467,185
51361,2960259260,29,Tlaxcala,1,,,6,2,1,2,...,2,2,1,290460000,000-0,4,2,301,7467,185
51362,2960259261,29,Tlaxcala,1,,,8,9,2,2,...,1,1,1,290460000,000-0,4,2,301,7467,185
51363,2960259262,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290460000,000-0,4,2,301,7467,185
51364,2960259263,29,Tlaxcala,1,,,8,9,2,2,...,2,2,1,290460000,000-0,4,2,301,7467,185
51365,2960259264,29,Tlaxcala,1,,,8,9,2,2,...,2,2,1,290460000,000-0,4,2,301,7467,185
51366,2960259345,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290460000,000-0,4,2,301,7467,185
51367,2960259346,29,Tlaxcala,1,,,8,9,2,2,...,1,1,1,290460000,000-0,4,2,301,7467,185
51368,2960259350,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290460000,000-0,4,2,301,7467,185
51369,2960259351,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290460000,000-0,4,2,301,7467,185

In [12]:
# Count the rows by state, meaning the total number of houses per state considered in our sample
df = viv_mega_df.groupby(['state_name']).count()
houses_per_state = pd.DataFrame(df['folioviv'])
houses_per_state

                  folioviv
state_name
Ciudad de México      1776
Estado de México      1828
Hidalgo               1721
Morelos               1632
Puebla                1697
Querétaro             1830
Tlaxcala              1811

In [13]:
# Ubicación geográfica
# Los dos primeros dígitos representan la clave de la entidad (para CDMX sólo el primer dígito), 
# los siguientes tres la clave del municipio 
# y los últimos cuatro la clave de la localidad.

#Para CDMX
# 007 Iztapalapa  005 Gustavo A. Madero   012 Tlalpan  015 Cuauhtémoc   010 Álvaro Obregón  003 Coyoacán 
# 017 Venustiano Carranza  014 Benito Juárez  002 Azcapotzalco  006 Iztacalco  011 Tláhuac  013 Xochimilco 
# 016 Miguel Hidalgo  004 Cuajimalpa de Morelos  008 La Magdalena Contreras  009 Milpa Alta

viv_mega_df.groupby('state')['ubica_geo'].value_counts()

state  ubica_geo
9      90070000     300
       90050000     191
       90120000     165
       90150000     156
       90100000     138
       90030000     132
       90170000     107
       90140000     103
       90020000      92
       90060000      85
       90110000      84
       90130000      59
       90160000      59
       90040000      42
       90080000      40
       90090000      23
13     130480000    167
       130670000    115
       130510000     98
       130630000     86
       130760000     82
       130770000     82
       130130000     71
       130280000     68
       130300000     67
       130590000     53
       130290000     50
       130560000     44
       130640000     38
       130730000     38
                   ...
29     290360000     37
       290210000     36
       290140000     34
       290310000     31
       290380000     31
       290280000     30
       290390000     26
       290410000     24
       290300000     20
       290020000     19
       290070000     19
       290420000     19
       290460000     19
       290340000     18
       290530000     18
       290560000     18
       290550000     17
       290010000     16
       290170000     14
       290320000     14
       290490000     14
       290350000     10
       290540000     10
       290600000     10
       290270000      9
       290230000      8
       290500000      8
       290090000      5
       290570000      5
       290580000      5
Name: ubica_geo, Length: 249, dtype: int64

#### Preparing dataframe for plotting (add columns for Vivienda)

Adding 'cve_ent_mun', 'Municipality'

In [14]:
#Datatype of ubica_geo in viv_mega
viv_mega_df['ubica_geo'].dtypes

dtype('int64')

In [15]:
#Change ubica_geo to string
viv_mega_df['ubica_geo'] = viv_mega_df['ubica_geo'].astype('str')

In [16]:
# Add a new column for the municipality code
viv_mega_df.insert(3, 'municipality', viv_mega_df['ubica_geo'].str[-7:-4])

In [17]:
viv_mega_df.head()

,folioviv,state,state_name,municipality,tipo_viv,condominio,elevador,mat_pared,mat_techos,mat_pisos,...,tv_paga,auto_pick,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor
13805,900083044,9,Ciudad de México,002,2,6,2,8,9,3,...,1,1,1,90020000,000-0,1,4,82,2181,1791
13806,900083065,9,Ciudad de México,002,2,5,2,8,9,3,...,2,2,1,90020000,000-0,1,4,82,2181,1791
13807,900083089,9,Ciudad de México,002,2,6,2,8,9,3,...,2,2,1,90020000,000-0,1,4,82,2181,1791
13808,900083113,9,Ciudad de México,002,2,6,2,8,9,3,...,2,2,1,90020000,000-0,1,4,82,2181,1791
13809,900168010,9,Ciudad de México,002,1,,,8,9,3,...,2,2,1,90020000,000-0,1,2,80,2182,1236

In [18]:
viv_mega_df['municipality'].unique()

array(['002', '003', '004', '005', '006', '007', '008', '010', '011',
       '012', '013', '014', '015', '016', '017', '009', '048', '077',
       '028', '030', '041', '050', '056', '061', '063', '069', '076',
       '021', '032', '046', '051', '057', '058', '059', '067', '070',
       '074', '075', '082', '029', '064', '073', '001', '020', '022',
       '024', '025', '026', '027', '037', '040', '049', '060', '062',
       '068', '081', '031', '033', '039', '099', '104', '106', '109',
       '121', '122', '023', '043', '044', '054', '091', '092', '108',
       '120', '042', '053', '087', '095', '100', '101', '086', '052',
       '110', '124', '018', '019', '114', '156', '045', '119', '132',
       '140', '154', '174', '197', '034', '065', '085', '090', '137',
       '177', '186', '199', '205', '072', '115', '170', '036', '071',
       '079', '111', '113', '129', '141', '157', '172', '192', '213',
       '126', '035', '038', '055'], dtype=object)

In [19]:
#Municipality name is determined by both entity and municipality codes
viv_mega_df.groupby('municipality')['state_name'].value_counts()

municipality  state_name
001           Querétaro            56
              Hidalgo              19
              Tlaxcala             16
002           Ciudad de México     92
              Hidalgo              36
              Estado de México     23
              Tlaxcala             19
003           Ciudad de México    132
              Estado de México     36
              Querétaro            20
              Morelos              19
              Hidalgo              14
004           Morelos              47
              Ciudad de México     42
              Querétaro            39
005           Ciudad de México    191
              Tlaxcala            160
              Querétaro            58
              Morelos              17
              Estado de México      5
006           Morelos             159
              Querétaro           125
              Ciudad de México     85
              Tlaxcala             72
              Puebla               20
007           Ciudad de México    300
              Morelos             292
              Querétaro            56
              Tlaxcala             19
              Estado de México     18
                                 ...
109           Estado de México     73
110           Estado de México     20
111           Puebla               19
113           Puebla               14
114           Puebla              453
115           Puebla               18
119           Puebla               26
120           Estado de México     25
121           Estado de México     37
122           Estado de México     30
124           Estado de México     17
126           Puebla               19
129           Puebla               20
132           Puebla               45
137           Puebla               18
140           Puebla               31
141           Puebla               19
154           Puebla               65
156           Puebla               93
157           Puebla               16
170           Puebla               19
172           Puebla               18
174           Puebla               17
177           Puebla               39
186           Puebla               19
192           Puebla               15
197           Puebla               50
199           Puebla               20
205           Puebla               20
213           Puebla               16
Name: state_name, Length: 249, dtype: int64

In [20]:
#Add column cve_ent_mun which concatenates entity and municipality codes
viv_mega_df.insert(1,'cve_ent_mun', viv_mega_df['state'].map(str) + viv_mega_df['municipality'].map(str))

In [21]:
viv_mega_df.head()

,folioviv,cve_ent_mun,state,state_name,municipality,tipo_viv,condominio,elevador,mat_pared,mat_techos,...,tv_paga,auto_pick,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor
13805,900083044,9002,9,Ciudad de México,002,2,6,2,8,9,...,1,1,1,90020000,000-0,1,4,82,2181,1791
13806,900083065,9002,9,Ciudad de México,002,2,5,2,8,9,...,2,2,1,90020000,000-0,1,4,82,2181,1791
13807,900083089,9002,9,Ciudad de México,002,2,6,2,8,9,...,2,2,1,90020000,000-0,1,4,82,2181,1791
13808,900083113,9002,9,Ciudad de México,002,2,6,2,8,9,...,2,2,1,90020000,000-0,1,4,82,2181,1791
13809,900168010,9002,9,Ciudad de México,002,1,,,8,9,...,2,2,1,90020000,000-0,1,2,80,2182,1236

Municipality catalogue  with coordinates

In [22]:
mun_cat_coord = pd.read_csv('./Resources/AGEEML_MEGA_MUN.csv', dtype=str)

In [23]:
mun_cat_coord.tail()

,mapa,cve_ent,nom_ent,cve_mun,nom_mun,latitud,longitud,lat_decimal,lon_decimal,altitud,pob_total,pob_masculina,pob_femenina,total de viviendas habitadas
26227,290590002,29,Tlaxcala,059,Santa Cruz Quilehtla,"19°12´30.094""N","098°11´33.484""W",19.20835900,-98.19263400,2326,1841,914,927,370
26228,290590003,29,Tlaxcala,059,Santa Cruz Quilehtla,"19°12´49.790""N","098°11´54.181""W",19.21383100,-98.19838400,2307,0,0,0,0
26229,290590004,29,Tlaxcala,059,Santa Cruz Quilehtla,"19°12´53.170""N","098°11´50.534""W",19.21476900,-98.19737100,2309,0,0,0,0
26230,290590005,29,Tlaxcala,059,Santa Cruz Quilehtla,"19°12´39.586""N","098°12´13.233""W",19.21099600,-98.20367600,2289,0,0,0,0
26231,290600001,29,Tlaxcala,060,Santa Isabel Xiloxoxtla,"19°16´05.032""N","098°12´48.809""W",19.26806400,-98.21355800,2284,4436,2138,2298,915

In [24]:
#Add column cve_ent_mun which concatenates entity and municipality codes
mun_cat_coord.insert(4,'cve_ent_mun', mun_cat_coord['cve_ent'].map(str) + mun_cat_coord['cve_mun'].map(str))
mun_cat_coord.head()

,mapa,cve_ent,nom_ent,cve_mun,cve_ent_mun,nom_mun,latitud,longitud,lat_decimal,lon_decimal,altitud,pob_total,pob_masculina,pob_femenina,total de viviendas habitadas
0,090020001,9,Ciudad de México,002,9002,Azcapotzalco,"19°29´02.770""N","099°11´03.698""W",19.48410300,-99.18436100,2244,414711,196053,218658,117264
1,090030001,9,Ciudad de México,003,9003,Coyoacán,"19°21´00.770""N","099°09´43.724""W",19.35021400,-99.16214600,2247,620416,292491,327925,180946
2,090040001,9,Ciudad de México,004,9004,Cuajimalpa de Morelos,"19°21´26.461""N","099°17´59.252""W",19.35735000,-99.29979200,2780,160491,75960,84531,41708
3,090040010,9,Ciudad de México,004,9004,Cuajimalpa de Morelos,"19°19´04.026""N","099°19´26.437""W",19.31778500,-99.32401000,2982,581,294,287,137
4,090040020,9,Ciudad de México,004,9004,Cuajimalpa de Morelos,"19°19´51.617""N","099°19´32.454""W",19.33100500,-99.32568200,2936,23037,11261,11776,5510

In [25]:
# Make a dictionary out of the concatenated codes (cve_ent_mun) and the corresponding municipality name
#mun_dict = mun_cat_coord.groupby('cve_ent_mun')['nom_mun'].apply(list).to_dict()
mun_dict = mun_cat_coord.groupby('cve_ent_mun')['nom_mun'].apply(list).to_dict()

In [26]:
#Add the column for municipality_name
viv_mega_df.insert(5,'municipality_name',viv_mega_df.cve_ent_mun.map(mun_dict))

In [27]:
#Remove brackets from the values
viv_mega_df['municipality_name'] = viv_mega_df['municipality_name'].str[0]

In [28]:
viv_mega_df.head()

,folioviv,cve_ent_mun,state,state_name,municipality,municipality_name,tipo_viv,condominio,elevador,mat_pared,...,tv_paga,auto_pick,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor
13805,900083044,9002,9,Ciudad de México,002,Azcapotzalco,2,6,2,8,...,1,1,1,90020000,000-0,1,4,82,2181,1791
13806,900083065,9002,9,Ciudad de México,002,Azcapotzalco,2,5,2,8,...,2,2,1,90020000,000-0,1,4,82,2181,1791
13807,900083089,9002,9,Ciudad de México,002,Azcapotzalco,2,6,2,8,...,2,2,1,90020000,000-0,1,4,82,2181,1791
13808,900083113,9002,9,Ciudad de México,002,Azcapotzalco,2,6,2,8,...,2,2,1,90020000,000-0,1,4,82,2181,1791
13809,900168010,9002,9,Ciudad de México,002,Azcapotzalco,1,,,8,...,2,2,1,90020000,000-0,1,2,80,2182,1236

In [29]:
#Verifying there are no null values for municipality_name
N = viv_mega_df[viv_mega_df['municipality_name'].isnull()]
N

Empty DataFrame
Columns: [folioviv, cve_ent_mun, state, state_name, municipality, municipality_name, tipo_viv, condominio, elevador, mat_pared, mat_techos, mat_pisos, ais_techos, ais_pared, ais_ventan, ais_otro, antiguedad, cocina, cocina_dor, cuart_dorm, num_cuarto, disp_agua, dotac_agua, excusado, uso_compar, sanit_agua, bano_comp, bano_excus, bano_regad, drenaje, disp_elect, anio_panel, panel_ne, pot_panel, potencia, focos_inca, focos_ahor, combustible, estufa_chi, eli_basura, lavadero, fregadero, regadera, rega_elect, tinaco_azo, cisterna, pileta, calent_sol, calent_gas, medidor_luz, bomba_agua, tanque_gas, aire_acond, calefacc, chimenea, repar_pard, repar_tech, repar_agua, repar_dren, repar_cabl, const_dorm, const_coci, const_bano, const_neg, comun1, comun2, comun3, comun4, comun5, comun6, comun7, comun8, comun9, estaciona, comun10, comun11, comun12, comun13, comun14, comun15, comun16, comun17, tenencia, pago_renta, anio_res, mes_res, familiar, tipo_adqui, financia_1, financia_2, financia_3, financia_4, financia_5, financia_6, financia_7, financia_8, num_dueno1, hog_dueno1, num_dueno2, hog_dueno2, ...]
Index: []

[0 rows x 115 columns]

In [30]:
#Total houses per municipality per state included in the sample
viv_mega_df.groupby('state_name')['municipality_name'].value_counts()

state_name        municipality_name
Ciudad de México  Iztapalapa                            300
                  Gustavo A. Madero                     191
                  Tlalpan                               165
                  Cuauhtémoc                            156
                  Álvaro Obregón                        138
                  Coyoacán                              132
                  Venustiano Carranza                   107
                  Benito Juárez                         103
                  Azcapotzalco                           92
                  Iztacalco                              85
                  Tláhuac                                84
                  Miguel Hidalgo                         59
                  Xochimilco                             59
                  Cuajimalpa de Morelos                  42
                  La Magdalena Contreras                 40
                  Milpa Alta                             23
Estado de México  Ecatepec de Morelos                   185
                  Nezahualcóyotl                        137
                  Naucalpan de Juárez                   101
                  Atizapán de Zaragoza                   99
                  Chimalhuacán                           99
                  Ixtapaluca                             92
                  Toluca                                 83
                  Tultitlán                              73
                  Coacalco de Berriozábal                59
                  Tlalnepantla de Baz                    51
                  Ixtlahuaca                             40
                  Otzolotepec                            38
                  Cuautitlán Izcalli                     37
                  Nicolás Romero                         37
                                                       ...
Tlaxcala          Totolac                                37
                  Nanacamilpa de Mariano Arista          36
                  Hueyotlipan                            34
                  Tetla de la Solidaridad                31
                  Tzompantepec                           31
                  Teolocholco                            30
                  Xaloztoc                               26
                  Papalotla de Xicohténcatl              24
                  Terrenate                              20
                  Apetatitlán de Antonio Carvajal        19
                  El Carmen Tequexquitla                 19
                  Emiliano Zapata                        19
                  Xicohtzinco                            19
                  San Juan Huactzinco                    18
                  Santa Ana Nopalucan                    18
                  Tlaxco                                 18
                  San Lucas Tecopilco                    17
                  Amaxac de Guerrero                     16
                  Mazatecochco de José María Morelos     14
                  San Damián Texóloc                     14
                  Tetlatlahuca                           14
                  San Lorenzo Axocomanitla               10
                  Santa Isabel Xiloxoxtla                10
                  Tocatlán                               10
                  Tenancingo                              9
                  Natívitas                               8
                  San Francisco Tetlanohcan               8
                  Cuaxomulco                              5
                  Santa Apolonia Teacalco                 5
                  Santa Catarina Ayometla                 5
Name: municipality_name, Length: 249, dtype: int64

In [31]:
#Total houses per municipality
hpm = viv_mega_df.groupby(['municipality_name']).count()
houses_per_municipality = pd.DataFrame(hpm['folioviv'])
houses_per_municipality

                                 folioviv
municipality_name
Acatlán                                19
Acaxochitlán                           36
Acolman                                23
Actopan                                14
Aculco                                 36
Ahuacatlán                             20
Almoloya de Juárez                      5
Amanalco                               18
Amaxac de Guerrero                     16
Amealco de Bonfil                      56
Amecameca                              20
Amixtlán                               18
Amozoc                                 35
Apetatitlán de Antonio Carvajal        19
Apizaco                               160
Aquixtla                               39
Arroyo Seco                            20
Atizapán de Zaragoza                   99
Atlixco                                34
Atotonilco de Tula                     71
Axochiapan                             19
Ayala                                  47
Azcapotzalco                           92
Benito Juárez                         142
Cadereyta de Montes                    39
Calpan                                 16
Calpulalpan                            72
Cardonal                               17
Chalchicomula de Sesma                 15
Chalco                                 32
...                                   ...
Toluca                                 83
Totolac                                37
Tula de Allende                        82
Tulancingo de Bravo                    82
Tultepec                                3
Tultitlán                              73
Tuzamapan de Galeana                   15
Tzompantepec                           31
Valle de Bravo                         20
Valle de Chalco Solidaridad            30
Venustiano Carranza                   107
Xalatlaco                              18
Xaloztoc                               26
Xaltocan                               44
Xicohtzinco                            19
Xicotepec                              50
Xiutetelco                             20
Xochimilco                             59
Xochitepec                             58
Yauhquemehcan                          57
Yautepec                               82
Yecapixtla                             13
Yehualtepec                            20
Zacatelco                              58
Zacatepec                              77
Zacualtipán de Ángeles                 18
Zapotlán de Juárez                     16
Zihuateutla                            16
Zumpango                               25
Álvaro Obregón                        138

[245 rows x 1 columns]

In [32]:
houses_per_municipality2 = hpm.apply(list)
houses_per_municipality2.head()

,folioviv,cve_ent_mun,state,state_name,municipality,tipo_viv,condominio,elevador,mat_pared,mat_techos,...,tv_paga,auto_pick,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor
municipality_name,,,,,,,,,,,,,,,,,,,,,
Acatlán,19,19,19,19,19,19,19,19,19,19,...,19,19,19,19,19,19,19,19,19,19
Acaxochitlán,36,36,36,36,36,36,36,36,36,36,...,36,36,36,36,36,36,36,36,36,36
Acolman,23,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,23,23,23,23,23
Actopan,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
Aculco,36,36,36,36,36,36,36,36,36,36,...,36,36,36,36,36,36,36,36,36,36

In [33]:
houses_per_municipality2 = hpm.apply(list)
houses_per_municipality2.iloc[:,1:2]

                                 cve_ent_mun
municipality_name
Acatlán                                   19
Acaxochitlán                              36
Acolman                                   23
Actopan                                   14
Aculco                                    36
Ahuacatlán                                20
Almoloya de Juárez                         5
Amanalco                                  18
Amaxac de Guerrero                        16
Amealco de Bonfil                         56
Amecameca                                 20
Amixtlán                                  18
Amozoc                                    35
Apetatitlán de Antonio Carvajal           19
Apizaco                                  160
Aquixtla                                  39
Arroyo Seco                               20
Atizapán de Zaragoza                      99
Atlixco                                   34
Atotonilco de Tula                        71
Axochiapan                                19
Ayala                                     47
Azcapotzalco                              92
Benito Juárez                            142
Cadereyta de Montes                       39
Calpan                                    16
Calpulalpan                               72
Cardonal                                  17
Chalchicomula de Sesma                    15
Chalco                                    32
...                                      ...
Toluca                                    83
Totolac                                   37
Tula de Allende                           82
Tulancingo de Bravo                       82
Tultepec                                   3
Tultitlán                                 73
Tuzamapan de Galeana                      15
Tzompantepec                              31
Valle de Bravo                            20
Valle de Chalco Solidaridad               30
Venustiano Carranza                      107
Xalatlaco                                 18
Xaloztoc                                  26
Xaltocan                                  44
Xicohtzinco                               19
Xicotepec                                 50
Xiutetelco                                20
Xochimilco                                59
Xochitepec                                58
Yauhquemehcan                             57
Yautepec                                  82
Yecapixtla                                13
Yehualtepec                               20
Zacatelco                                 58
Zacatepec                                 77
Zacualtipán de Ángeles                    18
Zapotlán de Juárez                        16
Zihuateutla                               16
Zumpango                                  25
Álvaro Obregón                           138

[245 rows x 1 columns]

In [34]:
hpm2 = viv_mega_df.groupby('state_name')['municipality_name'].value_counts()
houses_per_municipality_2 = pd.DataFrame()

Add coordinates of each municipality

In [35]:
#Make a sub dataframe from the municipality catalogue with coordinates (mun_cat_coord)
coordinates = mun_cat_coord.loc[:,['cve_ent_mun','nom_ent', 'nom_mun', 'lon_decimal', 'lat_decimal']]
coordinates.head()

,cve_ent_mun,nom_ent,nom_mun,lon_decimal,lat_decimal
0,9002,Ciudad de México,Azcapotzalco,-99.18436100,19.48410300
1,9003,Ciudad de México,Coyoacán,-99.16214600,19.35021400
2,9004,Ciudad de México,Cuajimalpa de Morelos,-99.29979200,19.35735000
3,9004,Ciudad de México,Cuajimalpa de Morelos,-99.32401000,19.31778500
4,9004,Ciudad de México,Cuajimalpa de Morelos,-99.32568200,19.33100500

In [36]:
# Remove duplicates in order to keep one coordinate (first one) per municipality as we have community coordinates
coordinates_municipality = coordinates.drop_duplicates(subset=['nom_ent', 'nom_mun'])
coordinates_municipality.head()

,cve_ent_mun,nom_ent,nom_mun,lon_decimal,lat_decimal
0,9002,Ciudad de México,Azcapotzalco,-99.18436100,19.48410300
1,9003,Ciudad de México,Coyoacán,-99.16214600,19.35021400
2,9004,Ciudad de México,Cuajimalpa de Morelos,-99.29979200,19.35735000
26,9005,Ciudad de México,Gustavo A. Madero,-99.11347100,19.48294500
27,9006,Ciudad de México,Iztacalco,-99.09761300,19.39590100

In [37]:
#Create a dictionary for longitude
lon_dict = coordinates_municipality.groupby('cve_ent_mun')['lon_decimal'].apply(list).to_dict()

In [38]:
#Create a dictionary for latitude
lat_dict = coordinates_municipality.groupby('cve_ent_mun')['lat_decimal'].apply(list).to_dict()

In [39]:
viv_mega_df.head(1)

,folioviv,cve_ent_mun,state,state_name,municipality,municipality_name,tipo_viv,condominio,elevador,mat_pared,...,tv_paga,auto_pick,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor
13805,900083044,9002,9,Ciudad de México,002,Azcapotzalco,2,6,2,8,...,1,1,1,90020000,000-0,1,4,82,2181,1791

In [40]:
#Add coordinates per municipality (latitude, longitude) to dataframe viv_mega_df
viv_mega_df.insert(6,'latitude',viv_mega_df.cve_ent_mun.map(lat_dict))

In [41]:
#Remove brackets from the values
viv_mega_df['latitude'] = viv_mega_df['latitude'].str[0]

In [42]:
viv_mega_df.insert(7,'longitude',viv_mega_df.cve_ent_mun.map(lon_dict))

In [43]:
viv_mega_df['longitude'] = viv_mega_df['longitude'].str[0]

In [44]:
viv_mega_df.head()

,folioviv,cve_ent_mun,state,state_name,municipality,municipality_name,latitude,longitude,tipo_viv,condominio,...,tv_paga,auto_pick,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor
13805,900083044,9002,9,Ciudad de México,002,Azcapotzalco,19.48410300,-99.18436100,2,6,...,1,1,1,90020000,000-0,1,4,82,2181,1791
13806,900083065,9002,9,Ciudad de México,002,Azcapotzalco,19.48410300,-99.18436100,2,5,...,2,2,1,90020000,000-0,1,4,82,2181,1791
13807,900083089,9002,9,Ciudad de México,002,Azcapotzalco,19.48410300,-99.18436100,2,6,...,2,2,1,90020000,000-0,1,4,82,2181,1791
13808,900083113,9002,9,Ciudad de México,002,Azcapotzalco,19.48410300,-99.18436100,2,6,...,2,2,1,90020000,000-0,1,4,82,2181,1791
13809,900168010,9002,9,Ciudad de México,002,Azcapotzalco,19.48410300,-99.18436100,1,,...,2,2,1,90020000,000-0,1,2,80,2182,1236

In [104]:
#Make a new file and dataframe containing state, municipality and municipality coordinates
map_coordinates = viv_mega_df.loc[:,['state_name','municipality_name','latitude','longitude']]
map_coordinates.head()

             state_name municipality_name     latitude     longitude
13805  Ciudad de México      Azcapotzalco  19.48410300  -99.18436100
13806  Ciudad de México      Azcapotzalco  19.48410300  -99.18436100
13807  Ciudad de México      Azcapotzalco  19.48410300  -99.18436100
13808  Ciudad de México      Azcapotzalco  19.48410300  -99.18436100
13809  Ciudad de México      Azcapotzalco  19.48410300  -99.18436100

In [109]:
map_coordinates.to_csv('./Resources/map_mun_coordinates.csv', index = False, encoding='latin-1')

## Variables chosen for the project:
-	tipo_viv: Tipo de vivienda C (1)
-	num_cuarto: Número de cuartos N (2)
-	disp_agua: Disponibilidad de agua C (1)
-	excusado: Tiene excusado C (1)
-	drenaje: Destino de drenaje C (1)
-	disp_elect: Disponibilidad eléctrica C (1)
-	tanque_gas: Dispone de tanque de gas
-	estacionario C (1)
-	tenencia: Tipo de tenencia de la vivienda C (1)
-	pago_renta: Pago de renta de vivienda N (5)
-	anio_res: Años residiendo en la vivienda N (2)
-	computador: Disponibilidad de computadora C (1)
-	tel_fijo: Disponibilidad de línea telefónica fija C (1)
-	celular: Disponibilidad de teléfono celular C (1)
-	internet: Disponibilidad de internet C (1)
-	tv_paga: Disponibilidad de servicio de
-	televisión de paga C (1)
-	auto_pick: Disponibilidad de automóvil propio C (1)
-	tot_hog: Total de hogares en la vivienda N (2)

In [45]:
# APARTADO A. RESIDENTES E IDENTIFICACIÓN DE HOGARES EN LA VIVIENDA
# 1. Esta vivienda es:  1 Casa independiente  2 Departamento en condominio vertical
# 3 Vivienda en vecindad 4 Vivienda en cuarto de azotea 5 Local no construido para habitación

viv_mega_df.groupby('state')['tipo_viv'].value_counts()

state  tipo_viv
9      1           1184
       2            550
       3             33
       4              5
       &              4
13     1           1671
       2             42
       3              6
       &              2
15     1           1678
       2             97
       3             52
       &              1
17     1           1511
       2             93
       3             22
       &              5
       5              1
21     1           1543
       2            104
       3             46
       &              2
       4              2
22     1           1734
       2             76
       3             16
       &              4
29     1           1727
       2             79
       5              3
       3              2
Name: tipo_viv, dtype: int64

In [46]:
# APARTADO A. RESIDENTES E IDENTIFICACIÓN DE HOGARES EN LA VIVIENDA
#¿Cuántos cuartos tiene en total esta vivienda, contando la cocina? 
#(No cuente pasillos ni baños) ANOTE EL NÚMERO

viv_mega_df.groupby('state')['num_cuarto'].value_counts()

state  num_cuarto
9      4             503
       5             364
       3             347
       6             168
       2             162
       1             102
       7              67
       8              25
       9              19
       10             11
       11              4
       12              3
       15              1
13     4             478
       5             349
       3             348
       2             201
       6             155
       7              65
       1              64
       8              33
       9              14
       10             10
       11              1
       12              1
       13              1
       14              1
15     4             465
       3             341
       5             338
                    ...
21     8              27
       9               7
       10              7
       11              2
       12              1
22     4             486
       3             377
       5             354
       2             197
       6             192
       7              77
       1              73
       8              42
       10             15
       9              12
       11              2
       12              2
       13              1
29     4             490
       3             405
       5             310
       2             213
       6             175
       1              84
       7              71
       8              40
       10             11
       9               6
       11              4
       12              2
Name: num_cuarto, Length: 87, dtype: int64

In [47]:
#¿En esta vivienda tienen... 1. agua entubada dentro de la vivienda?. 2.agua entubada fuera de la vivienda, pero dentro del terreno?
#3.agua entubada de llave pública (o hidrante)? 4. agua entubada que acarrean de otra vivienda?
#5.agua de pipa? 6. agua de un pozo, río, lago, arroyo u otra?
viv_mega_df.groupby('state')['disp_agua'].value_counts()

state  disp_agua
9      1            1561
       2             197
       5              13
       3               4
       4               1
13     1            1079
       2             505
       6              61
       5              47
       4              27
       3               2
15     1            1265
       2             500
       5              37
       4              19
       6               7
17     1            1098
       2             432
       5              42
       6              32
       4              24
       3               4
21     1             967
       2             630
       6              45
       5              33
       4              19
       3               3
22     1            1363
       2             394
       4              37
       5              23
       6              10
       3               3
29     1            1158
       2             604
       6              26
       4              22
       5               1
Name: disp_agua, dtype: int64

In [48]:
# 12. ¿Tienen excusado, retrete, sanitario, letrina u hoyo negro? 1.SI 2.NO
viv_mega_df.groupby('state')['excusado'].value_counts()

state  excusado
9      1           1771
       2              5
13     1           1626
       2             95
15     1           1799
       2             29
17     1           1615
       2             17
21     1           1659
       2             38
22     1           1744
       2             86
29     1           1718
       2             93
Name: excusado, dtype: int64

In [49]:
#16 ¿Esta vivienda tiene drenaje o desagüe conectado a... 1. la red pública? 2. una fosa séptica?
# 3.una tubería que va a dar a una barranca o grieta? 4. una tubería que va a dar a un río, lago o mar?.
# 5.¿No tiene drenaje?
viv_mega_df.groupby('state')['drenaje'].value_counts()

state  drenaje
9      1          1658
       2           100
       3            16
       5             2
13     1          1153
       2           447
       5            92
       3            16
       4            13
15     1          1589
       2           174
       5            31
       3            26
       4             8
17     1          1068
       2           524
       3            21
       5            16
       4             3
21     1          1325
       2           301
       5            59
       3            11
       4             1
22     1          1503
       2           234
       5            82
       3            11
29     1          1664
       5            58
       2            53
       3            32
       4             4
Name: drenaje, dtype: int64

In [50]:
#17. ¿En esta vivienda, la luz eléctrica la obtienen... 1. del servicio público? 2. de una planta particular?
# 3. de panel solar? 4.de otra fuente? 5.¿No tiene luz eléctrica?
viv_mega_df.groupby('state')['disp_elect'].value_counts()

state  disp_elect
9      1             1776
13     1             1711
       5                9
       4                1
15     1             1826
       3                1
       5                1
17     1             1629
       4                2
       3                1
21     1             1689
       5                7
       4                1
22     1             1819
       5                7
       3                4
29     1             1806
       5                4
       2                1
Name: disp_elect, dtype: int64

In [51]:
#22. ¿Esta vivienda tiene...
#tanque de gas estacionario? 1.SI 2.NO
viv_mega_df.groupby('state')['tanque_gas'].value_counts()

state  tanque_gas
9      2             1246
       1              530
13     2             1447
       1              274
15     2             1468
       1              360
17     2             1452
       1              180
21     2             1473
       1              224
22     2             1595
       1              235
29     2             1513
       1              298
Name: tanque_gas, dtype: int64

In [52]:
# APARTADO D. CARACTERÍSTICAS DE LA VIVIENDA (Sólo para el hogar principal)
# 28. ¿Esta vivienda...1 es rentada?   2 es prestada?   3 es propia pero la están pagando?
# 4 es propia?   5 está intestada o en litigio?   6 ¿Otra situación?
viv_mega_df.groupby('state')['tenencia'].value_counts()

state  tenencia
9      4            776
       1            400
       2            370
       3            117
       5            102
       6             11
13     4           1074
       2            289
       1            138
       3             96
       5             63
       6             61
15     4           1047
       2            340
       1            266
       3            120
       5             49
       6              6
17     4            870
       2            389
       1            221
       5             83
       3             61
       6              8
21     4            846
       2            400
       1            216
       3            109
       5            109
       6             17
22     4            875
       2            377
       1            282
       3            158
       5             97
       6             41
29     4           1217
       2            256
       1            169
       3            126
       5             43
Name: tenencia, dtype: int64

In [53]:
# APARTADO D. CARACTERÍSTICAS DE LA VIVIENDA (Sólo para el hogar principal)
# 29. ¿Cuánto se paga mensualmente por la renta de esta vivienda?
# Create a new data frame with less columns to make bins
renta_mega = viv_mega_df.loc[:, ["folioviv", "state", "pago_renta"]]
renta_mega['renta'] = renta_mega['pago_renta'].str.strip()
renta_mega['renta'] = renta_mega['renta'].apply(pd.to_numeric, args=('coerce',))

In [54]:
# 29. ¿Cuánto se paga mensualmente por la renta de esta vivienda?
# Define the bins to group the data by range
bins = [0, 1000, 5000, 7500, 10000, 20000, 30000]

# Create the names for the bins
group_names = ["<1000", "1000-5000", "5000-7500", "7500-10000", "10000-20000", ">20000"]

# Create df with the bins
renta_mega["gpo_renta"] = pd.cut(renta_mega['renta'], bins, labels=group_names)

renta_mega.groupby('state')['gpo_renta'].value_counts()

state  gpo_renta
9      1000-5000      270
       5000-7500       43
       <1000           31
       10000-20000     26
       7500-10000      19
       >20000           6
13     1000-5000       87
       <1000           49
       5000-7500        1
       7500-10000       1
15     1000-5000      189
       <1000           66
       5000-7500        5
       7500-10000       4
       10000-20000      2
17     1000-5000      140
       <1000           75
       5000-7500        3
       7500-10000       2
       10000-20000      1
21     1000-5000      136
       <1000           70
       5000-7500        6
       10000-20000      2
       7500-10000       2
22     1000-5000      197
       <1000           35
       5000-7500       25
       7500-10000      15
       10000-20000     10
29     <1000           86
       1000-5000       82
       7500-10000       1
Name: gpo_renta, dtype: int64

In [55]:
#¿Por cuánto tiempo ha rentado esta vivienda? 
viv_mega_df.groupby('state')['anio_res'].value_counts()

state  anio_res
9                  1376
       0             68
       1             60
       3             47
       2             44
       5             35
       4             24
       10            20
       15            16
       7             12
       6             10
       8             10
       30             7
       16             5
       17             5
       20             5
       12             4
       13             3
       19             3
       25             3
       9              3
       14             2
       32             2
       35             2
       40             2
       47             2
       18             1
       27             1
       28             1
       29             1
                   ...
22     4             16
       5             16
       6             12
       8              9
       7              5
       10             2
       9              2
       12             1
       14             1
       16             1
       17             1
       18             1
       28             1
29                 1642
       0             46
       1             31
       2             23
       3             17
       5             15
       4             12
       6              5
       7              5
       11             3
       8              3
       10             2
       12             2
       13             2
       15             1
       37             1
       9              1
Name: anio_res, Length: 148, dtype: int64

In [56]:
#¿En esta vivienda tienen...   1 SI    2  NO
viv_mega_df.groupby('state')['computador'].value_counts()

state  computador
9      1              970
       2              806
13     2             1232
       1              489
15     2             1178
       1              650
17     2             1087
       1              545
21     2             1198
       1              499
22     2             1065
       1              765
29     2             1300
       1              511
Name: computador, dtype: int64

In [57]:
#¿En esta vivienda tienen...
viv_mega_df.groupby('state')['tel_fijo'].value_counts()

state  tel_fijo
9      1           1226
       2            550
13     2           1301
       1            420
15     2            986
       1            842
17     2            889
       1            743
21     2           1182
       1            515
22     2           1159
       1            671
29     2           1344
       1            467
Name: tel_fijo, dtype: int64

In [58]:
#¿En esta vivienda tienen...
viv_mega_df.groupby('state')['celular'].value_counts()

state  celular
9      1          1643
       2           133
13     1          1424
       2           297
15     1          1668
       2           160
17     1          1435
       2           197
21     1          1391
       2           306
22     1          1668
       2           162
29     1          1613
       2           198
Name: celular, dtype: int64

In [59]:
#¿En esta vivienda tienen...
viv_mega_df.groupby('state')['internet'].value_counts()

state  internet
9      1           1281
       2            495
13     2           1257
       1            464
15     2           1011
       1            817
17     2            868
       1            764
21     2           1145
       1            552
22     2            953
       1            877
29     2           1310
       1            501
Name: internet, dtype: int64

In [60]:
#¿En esta vivienda tienen...
viv_mega_df.groupby('state')['tv_paga'].value_counts()

state  tv_paga
9      2           964
       1           812
13     2           872
       1           849
15     2          1172
       1           656
17     2           909
       1           723
21     2          1049
       1           648
22     1          1082
       2           748
29     2           946
       1           865
Name: tv_paga, dtype: int64

In [61]:
#¿En esta vivienda tienen...
viv_mega_df.groupby('state')['auto_pick'].value_counts()

state  auto_pick
9      2             992
       1             784
13     2            1082
       1             639
15     2            1116
       1             712
17     2            1002
       1             630
21     2            1144
       1             553
22     1             979
       2             851
29     2            1167
       1             644
Name: auto_pick, dtype: int64

In [62]:
#¿Cuántos hogares o grupos de personas tienen gasto separado para comer contando el de usted?
viv_mega_df.groupby('state')['tot_hog'].value_counts()

state  tot_hog
9      1          1765
       2             8
       3             3
13     1          1692
       2            23
       3             3
       4             3
15     1          1806
       2            19
       3             3
17     1          1620
       2            10
       3             2
21     1          1670
       2            26
       3             1
22     1          1799
       2            23
       3             6
       4             2
29     1          1786
       2            22
       3             3
Name: tot_hog, dtype: int64

In [63]:
# Tamaño de localidad
# 1 Localidades con 100 000 y más habitantes  2 Localidades con 15 000 a 99 999 habitantes
# 3 Localidades con 2 500 a 14 999 habitantes  4 Localidades con menos de 2 500 habitantes
viv_mega_df.groupby('state')['tam_loc'].value_counts()

state  tam_loc
9      1          1713
       2            31
       4            18
       3            14
13     4           827
       3           388
       2           276
       1           230
15     1          1119
       3           279
       4           222
       2           208
17     1           587
       3           408
       2           364
       4           273
21     1           517
       4           474
       3           383
       2           323
22     1           786
       4           526
       3           370
       2           148
29     3           824
       2           627
       4           360
Name: tam_loc, dtype: int64

In [64]:
# Estrato socioeconómico   1 Bajo   2 Medio bajo    3 Medio alto   4 Alto
viv_mega_df.groupby('state')['est_socio'].value_counts()

state  est_socio
9      3             795
       2             728
       4             248
       1               5
13     2            1081
       1             461
       3              99
       4              80
15     2            1170
       3             303
       4             191
       1             164
17     2            1136
       3             238
       1             198
       4              60
21     2             812
       1             576
       3             219
       4              90
22     2             830
       3             390
       1             328
       4             282
29     2            1521
       3             128
       1              89
       4              73
Name: est_socio, dtype: int64

## Persona file

In [65]:
# Only Megalopolis data from the persona file
# folioviv begins with 9 for Ciudad de México  13 Hidalgo  15 México  17 Morelos  21 Puebla  22 Querétaro  29 Tlaxcala
per_mega_df = persona_df.loc[
    (persona_df["folioviv"] > 899999999) & (persona_df["folioviv"] < 1000000000) |
    (persona_df["folioviv"] > 1299999999) & (persona_df["folioviv"] < 1400000000) |
    (persona_df["folioviv"] > 1499999999) & (persona_df["folioviv"] < 1600000000) |
    (persona_df["folioviv"] > 1699999999) & (persona_df["folioviv"] < 1800000000) |
    (persona_df["folioviv"] > 2099999999) & (persona_df["folioviv"] < 2300000000) |
    (persona_df["folioviv"] > 2899999999) & (persona_df["folioviv"] < 3000000000), :]
per_mega_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46157 entries, 50355 to 188564
Data columns (total 58 columns):
folioviv      46157 non-null int64
foliohog      46157 non-null int64
id_pobla      46157 non-null int64
edad          46157 non-null int64
nacio_dia     46157 non-null object
nacio_mes     46157 non-null object
sexo          46157 non-null int64
parentesco    46157 non-null int64
asiste_esc    46157 non-null object
tipo_esc      46157 non-null object
turno_esc     46157 non-null object
tiene_beca    46157 non-null object
otorg_beca    46157 non-null object
forma_beca    46157 non-null object
no_asiste     46157 non-null object
grado_inst    46157 non-null object
nivel_inst    46157 non-null object
residencia    46157 non-null object
alfabetism    46157 non-null object
edo_conyug    46157 non-null object
trabajo_sp    46157 non-null object
motivo_aus    46157 non-null object
act_buscot    46157 non-null object
act_pensio    46157 non-null object
act_quehac    46157 non-null object
act_estudi    46157 non-null object
act_discap    46157 non-null object
act_otra      46157 non-null object
num_trabaj    46157 non-null object
subor         46157 non-null object
indep         46157 non-null object
personal      46157 non-null object
pago          46157 non-null object
contrato      46157 non-null object
lentes        46157 non-null object
dif_ver       46157 non-null object
a_auditivo    46157 non-null object
dif_oir       46157 non-null object
sin_ruido     46157 non-null object
con_ruido     46157 non-null object
dif_camina    46157 non-null object
usa_aparat    46157 non-null object
ap_caminar    46157 non-null object
cam_100mts    46157 non-null object
cam_500mts    46157 non-null object
sube_12esc    46157 non-null object
dif_record    46157 non-null object
frec_nerv     46157 non-null object
med_nerv      46157 non-null object
inte_nerv     46157 non-null object
frec_depre    46157 non-null object
med_depre     46157 non-null object
inte_depre    46157 non-null object
frec_dolor    46157 non-null object
inte_dolor    46157 non-null object
frec_cansa    46157 non-null object
tiem_cansa    46157 non-null object
inte_cansa    46157 non-null object
dtypes: int64(6), object(52)
memory usage: 20.8+ MB

In [66]:
# Add a new column to add the state number
per_mega_df.insert(1, 'state', 0)

In [67]:
# State is inserted after the field folioviv
per_mega_df.columns

Index(['folioviv', 'state', 'foliohog', 'id_pobla', 'edad', 'nacio_dia',
       'nacio_mes', 'sexo', 'parentesco', 'asiste_esc', 'tipo_esc',
       'turno_esc', 'tiene_beca', 'otorg_beca', 'forma_beca', 'no_asiste',
       'grado_inst', 'nivel_inst', 'residencia', 'alfabetism', 'edo_conyug',
       'trabajo_sp', 'motivo_aus', 'act_buscot', 'act_pensio', 'act_quehac',
       'act_estudi', 'act_discap', 'act_otra', 'num_trabaj', 'subor', 'indep',
       'personal', 'pago', 'contrato', 'lentes', 'dif_ver', 'a_auditivo',
       'dif_oir', 'sin_ruido', 'con_ruido', 'dif_camina', 'usa_aparat',
       'ap_caminar', 'cam_100mts', 'cam_500mts', 'sube_12esc', 'dif_record',
       'frec_nerv', 'med_nerv', 'inte_nerv', 'frec_depre', 'med_depre',
       'inte_depre', 'frec_dolor', 'inte_dolor', 'frec_cansa', 'tiem_cansa',
       'inte_cansa'],
      dtype='object')

In [68]:
# Assign the state number to make groups and counters
per_mega_df.loc[(per_mega_df["folioviv"] > 899999999) & (per_mega_df["folioviv"] < 1000000000), 'state'] = 9
per_mega_df.loc[(per_mega_df["folioviv"] > 1299999999) & (per_mega_df["folioviv"] < 1400000000), 'state'] = 13
per_mega_df.loc[(per_mega_df["folioviv"] > 1499999999) & (per_mega_df["folioviv"] < 1600000000), 'state'] = 15
per_mega_df.loc[(per_mega_df["folioviv"] > 1699999999) & (per_mega_df["folioviv"] < 1800000000), 'state'] = 17
per_mega_df.loc[(per_mega_df["folioviv"] > 2099999999) & (per_mega_df["folioviv"] < 2200000000), 'state'] = 21
per_mega_df.loc[(per_mega_df["folioviv"] > 2199999999) & (per_mega_df["folioviv"] < 2300000000), 'state'] = 22
per_mega_df.loc[(per_mega_df["folioviv"] > 2899999999) & (per_mega_df["folioviv"] < 3000000000), 'state'] = 29

In [69]:
# Count the rows by state
per_mega_df.groupby('state')['folioviv'].count()

state
9     5901
13    6520
15    7034
17    5784
21    6612
22    6941
29    7365
Name: folioviv, dtype: int64

In [70]:
per_mega_df.head()

,folioviv,state,foliohog,id_pobla,edad,nacio_dia,nacio_mes,sexo,parentesco,asiste_esc,...,med_nerv,inte_nerv,frec_depre,med_depre,inte_depre,frec_dolor,inte_dolor,frec_cansa,tiem_cansa,inte_cansa
50355,900083044,9,1,1,56,3,7,1,1,2,...,2,1,4,2,1,1,,1,,
50356,900083044,9,1,2,26,17,6,2,3,2,...,2,1,5,2,,1,,1,,
50357,900083065,9,1,1,57,29,7,1,1,2,...,2,1,4,2,1,2,1,2,1,3
50358,900083065,9,1,2,47,9,3,2,2,2,...,2,1,5,2,,1,,1,,
50359,900083065,9,1,3,29,19,5,2,3,2,...,2,1,5,2,,1,,2,1,1

#### Preparing dataframe for plotting (add columns for Persona)

In [71]:
#Add state_name to per_mega_df
per_mega_df.insert(2,'state_name',per_mega_df['state'])

In [72]:
#Add the names of the states in the column state_name
per_mega_df = per_mega_df.replace({'state_name' : {9:'Ciudad de México', 13:'Hidalgo', 15:'Estado de México', 17:'Morelos', 21:'Puebla', 22:'Querétaro', 29:'Tlaxcala'}})

In [73]:
per_mega_df.head()

,folioviv,state,state_name,foliohog,id_pobla,edad,nacio_dia,nacio_mes,sexo,parentesco,...,med_nerv,inte_nerv,frec_depre,med_depre,inte_depre,frec_dolor,inte_dolor,frec_cansa,tiem_cansa,inte_cansa
50355,900083044,9,Ciudad de México,1,1,56,3,7,1,1,...,2,1,4,2,1,1,,1,,
50356,900083044,9,Ciudad de México,1,2,26,17,6,2,3,...,2,1,5,2,,1,,1,,
50357,900083065,9,Ciudad de México,1,1,57,29,7,1,1,...,2,1,4,2,1,2,1,2,1,3
50358,900083065,9,Ciudad de México,1,2,47,9,3,2,2,...,2,1,5,2,,1,,1,,
50359,900083065,9,Ciudad de México,1,3,29,19,5,2,3,...,2,1,5,2,,1,,2,1,1

In [74]:
est_cat = viv_mega_df.groupby('folioviv')['est_socio'].apply(list).to_dict()
est_cat

{900083044: [4],
 900083065: [4],
 900083089: [4],
 900083113: [4],
 900168010: [2],
 900168032: [2],
 900168065: [2],
 900168089: [2],
 900168100: [2],
 900184035: [2],
 900184097: [2],
 900184181: [2],
 900184194: [2],
 900184217: [2],
 900206009: [3],
 900206047: [3],
 900206120: [3],
 900206135: [3],
 900215026: [3],
 900215054: [3],
 900215080: [3],
 900215109: [3],
 900215134: [3],
 900225017: [3],
 900225085: [3],
 900225111: [3],
 900225127: [3],
 900228007: [3],
 900228036: [3],
 900228054: [3],
 900228076: [3],
 900228097: [3],
 900237050: [3],
 900237093: [3],
 900237135: [3],
 900237179: [3],
 900237204: [3],
 900332004: [2],
 900332049: [2],
 900332092: [2],
 900332136: [2],
 900332166: [2],
 900386006: [3],
 900386028: [3],
 900386040: [3],
 900386065: [3],
 900386087: [3],
 900399002: [3],
 900399030: [3],
 900399061: [3],
 900399083: [3],
 900399106: [3],
 900400017: [3],
 900400035: [3],
 900400068: [3],
 900400097: [3],
 900400105: [3],
 900416029: [4],
 900416078: [4],
 900416103: [4],
 900459011: [3],
 900459042: [3],
 900459072: [3],
 900459105: [3],
 900459120: [3],
 900701014: [2],
 900701047: [2],
 900701081: [2],
 900701103: [2],
 900771019: [4],
 900771093: [4],
 900771130: [4],
 900821025: [3],
 900821059: [3],
 900821086: [3],
 900821115: [3],
 900821148: [3],
 900909015: [3],
 900909045: [3],
 900909071: [3],
 900909098: [3],
 900909125: [3],
 900911026: [2],
 900911055: [2],
 900911083: [2],
 900911126: [2],
 900911134: [2],
 901021026: [4],
 901021040: [4],
 901021067: [4],
 901021080: [4],
 901021113: [4],
 901104013: [4],
 901104049: [4],
 901142025: [4],
 901142070: [4],
 901142115: [4],
 901319004: [3],
 901319028: [3],
 901319060: [3],
 901319131: [3],
 901328002: [4],
 901328034: [4],
 901328065: [4],
 901328100: [4],
 901328129: [4],
 901369018: [4],
 901369039: [4],
 901369055: [4],
 901369065: [4],
 901369103: [4],
 901390062: [2],
 901390121: [2],
 901390186: [2],
 901390241: [2],
 901390273: [2],
 901395010: [2],
 901395048: [2],
 901395087: [2],
 901395126: [2],
 901395165: [2],
 901423032: [2],
 901423103: [2],
 901423129: [2],
 901440015: [2],
 901440045: [2],
 901440081: [2],
 901440110: [2],
 901440126: [2],
 901455019: [2],
 901455040: [2],
 901455065: [2],
 901455083: [2],
 901455107: [2],
 901459033: [2],
 901459085: [2],
 901459160: [2],
 901459214: [2],
 901459237: [2],
 901491050: [2],
 901491111: [2],
 901491176: [2],
 901491233: [2],
 901491282: [2],
 901506011: [2],
 901506045: [2],
 901506091: [2],
 901506125: [2],
 901506142: [2],
 901636005: [2],
 901636034: [2],
 901636059: [2],
 901636078: [2],
 901636117: [2],
 901748016: [3],
 901748039: [3],
 901748049: [3],
 901748075: [3],
 901748096: [3],
 901823034: [3],
 901823063: [3],
 901823093: [3],
 901823118: [3],
 901823131: [3],
 901861032: [3],
 901861056: [3],
 901861103: [3],
 901861132: [3],
 901962018: [2],
 901962055: [2],
 901962080: [2],
 901962107: [2],
 901962127: [2],
 901984021: [2],
 901984049: [2],
 901984103: [2],
 901984142: [2],
 901984179: [2],
 902005029: [3],
 902005060: [3],
 902005096: [3],
 902005135: [3],
 902005171: [3],
 902036009: [3],
 902036030: [3],
 902036055: [3],
 902036082: [3],
 902036102: [3],
 902156039: [4],
 902156063: [4],
 902156086: [4],
 902156113: [4],
 902199018: [2],
 902199060: [2],
 902199090: [2],
 902199115: [2],
 902214021: [3],
 902214062: [3],
 902214101: [3],
 902214142: [3],
 902214178: [3],
 902240031: [4],
 902240076: [4],
 902240122: [4],
 902240215: [4],
 902387010: [4],
 902387060: [4],
 902387085: [4],
 902387113: [4],
 902452008: [3],
 902452042: [3],
 902452085: [3],
 902452098: [3],
 902452100: [3],
 902508004: [4],
 902508021: [4],
 902508048: [4],
 902508088: [4],
 902508142: [4],
 902547012: [3],
 902547079: [3],
 902547105: [3],
 902547115: [3],
 902547128: [3],
 902629015: [3],
 902629062: [3],
 902629100: [3],
 902695026: [2],
 902695050: [2],
 902695085: [2],
 902695130: [2],
 902695152: [2],
 902722014: [2],
 902722046: [2],
 902722072: [2],
 902722116: [2],
 902786033: [4],
 902786055: [4],
 902797012: [2],
 902797031: [2],
 902797054: [2],
 902797067: [2],
 902797105: [2],
 902830002: [2],
 902830030: [2],
 902830074: [2],
 902830144: [2],
 902848021: [2],
 902848045: [2],
 902848067: [2],
 902848117: [2],
 902848120: [2],
 902976002: [2],
 902976026: [2],
 902976056: [2],
 902976079: [2],
 902976115: [2],
 902999015: [2],
 902999043: [2],
 902999074: [2],
 902999106: [2],
 902999115: [2],
 903101010: [2],
 903101040: [2],
 903101055: [2],
 903101074: [2],
 903136064: [3],
 903136088: [3],
 903136125: [3],
 903136157: [3],
 903213045: [3],
 903213064: [3],
 903213090: [3],
 903274019: [3],
 903274036: [3],
 903274058: [3],
 903274082: [3],
 903274108: [3],
 903358050: [2],
 903358090: [2],
 903358185: [2],
 903358186: [2],
 903416001: [4],
 903416026: [4],
 903416079: [4],
 903416105: [4],
 903539021: [2],
 903539033: [2],
 903539046: [2],
 903539056: [2],
 903562020: [3],
 903562071: [3],
 903562103: [3],
 903562129: [3],
 903562161: [3],
 903590011: [4],
 903590034: [4],
 903590064: [4],
 903590088: [4],
 903590112: [4],
 903624026: [2],
 903624052: [2],
 903624075: [2],
 903624114: [2],
 903624121: [2],
 903664016: [2],
 903664057: [2],
 903664121: [2],
 903664132: [2],
 903703016: [3],
 903703046: [3],
 903703075: [3],
 903703103: [3],
 903776044: [2],
 903776086: [2],
 903776104: [2],
 903776160: [2],
 903776187: [2],
 903852013: [2],
 903852036: [2],
 903852064: [2],
 903852083: [2],
 903852105: [2],
 903870002: [3],
 903870024: [3],
 903870045: [3],
 903870073: [3],
 903870093: [3],
 903884016: [3],
 903884047: [3],
 903884101: [3],
 903947022: [3],
 903947040: [3],
 903947063: [3],
 903947096: [3],
 903947117: [3],
 904019016: [2],
 904019062: [2],
 904019093: [2],
 904019112: [2],
 904068016: [3],
 904068043: [3],
 904068070: [3],
 904068125: [3],
 904281001: [2],
 904281029: [2],
 904281066: [2],
 904281092: [2],
 904281127: [2],
 904304007: [2],
 904304024: [2],
 904304042: [2],
 904304058: [2],
 904304075: [2],
 904429010: [4],
 904429031: [4],
 904429070: [4],
 904429092: [4],
 904429101: [4],
 904447008: [3],
 904447025: [3],
 904447045: [3],
 904447065: [3],
 904447094: [3],
 904572006: [3],
 904572028: [3],
 904572052: [3],
 904572074: [3],
 904572092: [3],
 904693006: [3],
 904693044: [3],
 904693071: [3],
 904693094: [3],
 904693123: [3],
 904770020: [3],
 904770049: [3],
 904770104: [3],
 904770134: [3],
 904770137: [3],
 904849016: [3],
 904849035: [3],
 904849057: [3],
 904849099: [3],
 904980014: [3],
 904980030: [3],
 904980033: [3],
 904980052: [3],
 904980069: [3],
 904990022: [3],
 904990043: [3],
 904990067: [3],
 904990084: [3],
 904990112: [3],
 904996007: [3],
 904996029: [3],
 904996058: [3],
 904996079: [3],
 904996105: [3],
 905179007: [3],
 905179054: [3],
 905179075: [3],
 905179086: [3],
 905179117: [3],
 905239020: [2],
 905239046: [2],
 905239097: [2],
 905239120: [2],
 905245025: [2],
 905245061: [2],
 905245083: [2],
 905245118: [2],
 905245151: [2],
 905290015: [2],
 905290030: [2],
 905290045: [2],
 905290060: [2],
 905404006: [2],
 905404036: [2],
 905404057: [2],
 905404071: [2],
 905404095: [2],
 905455016: [2],
 905455063: [2],
 905455097: [2],
 905455129: [2],
 905455143: [2],
 905638087: [2],
 905638094: [2],
 905638096: [2],
 905765018: [1],
 905765064: [1],
 905765084: [1],
 905765098: [1],
 905765100: [1],
 905871018: [3],
 905871045: [3],
 905871081: [3],
 905871124: [3],
 905871143: [3],
 905948014: [3],
 905948047: [3],
 905948087: [3],
 905948108: [3],
 905948124: [3],
 906047031: [4],
 906047084: [4],
 906047142: [4],
 906047205: [4],
 906056026: [2],
 906056071: [2],
 906056087: [2],
 906056122: [2],
 906056126: [2],
 906058028: [2],
 906058068: [2],
 906058108: [2],
 906058146: [2],
 906058172: [2],
 906102011: [3],
 906102019: [3],
 906102070: [3],
 906102082: [3],
 906135005: [3],
 906135039: [3],
 906135063: [3],
 906135093: [3],
 906135116: [3],
 906192023: [3],
 906192062: [3],
 906192122: [3],
 906192153: [3],
 906192163: [3],
 906200024: [3],
 906200070: [3],
 906200087: [3],
 906200117: [3],
 906246019: [3],
 906246044: [3],
 906246084: [3],
 906246125: [3],
 906246130: [3],
 906277024: [2],
 906277066: [2],
 906277095: [2],
 906277118: [2],
 906277136: [2],
 906297043: [3],
 906297045: [3],
 906297073: [3],
 906297094: [3],
 906297106: [3],
 906451002: [2],
 906451025: [2],
 906451044: [2],
 906451064: [2],
 906451082: [2],
 906572009: [3],
 906572037: [3],
 906572059: [3],
 906572081: [3],
 906572110: [3],
 906589030: [2],
 906589057: [2],
 906589093: [2],
 906589117: [2],
 906589148: [2],
 906603016: [3],
 906603033: [3],
 906603062: [3],
 906603070: [3],
 906603084: [3],
 906625048: [4],
 906625064: [4],
 906625075: [4],
 906625103: [4],
 906636001: [3],
 906636030: [3],
 906636068: [3],
 906636105: [3],
 906831018: [4],
 906831022: [4],
 906831076: [4],
 906882014: [2],
 906882068: [2],
 906882104: [2],
 906882119: [2],
 906882136: [2],
 906892011: [3],
 906892032: [3],
 906892054: [3],
 906892071: [3],
 906911021: [3],
 906911059: [3],
 906911094: [3],
 906911135: [3],
 906911170: [3],
 906947040: [3],
 906947063: [3],
 906947071: [3],
 906947095: [3],
 907038069: [2],
 907038097: [2],
 907038100: [2],
 907105023: [3],
 907105037: [3],
 907105053: [3],
 907105067: [3],
 907140001: [3],
 907140033: [3],
 907140060: [3],
 907140075: [3],
 907140101: [3],
 907284011: [3],
 907284052: [3],
 907284081: [3],
 907284113: [3],
 907284117: [3],
 907297016: [3],
 907297034: [3],
 907297067: [3],
 907297088: [3],
 907297123: [3],
 907303004: [2],
 907303068: [2],
 907303110: [2],
 907303156: [2],
 907303178: [2],
 907403011: [2],
 907403034: [2],
 907403080: [2],
 907403102: [2],
 907462011: [3],
 907462033: [3],
 907462059: [3],
 907462082: [3],
 907636023: [2],
 907636061: [2],
 907636083: [2],
 907636106: [2],
 907636112: [2],
 907712011: [3],
 907712063: [3],
 907712083: [3],
 907712096: [3],
 907716008: [2],
 907716049: [2],
 907716090: [2],
 907716129: [2],
 907716172: [2],
 907727010: [3],
 907727031: [3],
 907727044: [3],
 907727066: [3],
 907727085: [3],
 907969056: [2],
 907969082: [2],
 907969104: [2],
 907969111: [2],
 908029010: [2],
 908029054: [2],
 908029077: [2],
 908029107: [2],
 908029113: [2],
 908133040: [2],
 908133093: [2],
 908133167: [2],
 908133221: [2],
 908133267: [2],
 908146013: [3],
 908146065: [3],
 908146095: [3],
 908146102: [3],
 908406066: [3],
 908406108: [3],
 908406119: [3],
 908406123: [3],
 908481016: [2],
 908481201: [2],
 908481267: [2],
 908486046: [2],
 908486101: [2],
 908486156: [2],
 908486187: [2],
 908486234: [2],
 908536009: [3],
 908536032: [3],
 908536055: [3],
 908536079: [3],
 908536102: [3],
 908592010: [2],
 908592035: [2],
 908592059: [2],
 908592082: [2],
 908592107: [2],
 908709011: [2],
 908709064: [2],
 908709115: [2],
 908709157: [2],
 908709198: [2],
 908716014: [2],
 908716040: [2],
 908716080: [2],
 908716097: [2],
 908716120: [2],
 908768008: [2],
 908768041: [2],
 908768058: [2],
 908768073: [2],
 908792022: [2],
 908792040: [2],
 908792059: [2],
 908792078: [2],
 908792097: [2],
 908842013: [2],
 908842048: [2],
 908842116: [2],
 908842128: [2],
 908854006: [2],
 908854029: [2],
 908854055: [2],
 908854093: [2],
 908854111: [2],
 908866021: [2],
 908866046: [2],
 908866076: [2],
 908866115: [2],
 908866162: [2],
 908893023: [2],
 908893047: [2],
 908893087: [2],
 908893125: [2],
 908893136: [2],
 908979028: [2],
 908979046: [2],
 908979085: [2],
 908979144: [2],
 908983022: [2],
 908983065: [2],
 908983109: [2],
 908983172: [2],
 909050015: [2],
 909050063: [2],
 909050123: [2],
 909050178: [2],
 909085011: [2],
 909085030: [2],
 909085050: [2],
 909085069: [2],
 909085088: [2],
 909109028: [2],
 909109056: [2],
 909109081: [2],
 909109111: [2],
 909109129: [2],
 909111009: [2],
 909111034: [2],
 909111056: [2],
 909111083: [2],
 909111111: [2],
 909257019: [2],
 909257040: [2],
 909257063: [2],
 909257093: [2],
 909313005: [2],
 909313054: [2],
 909313103: [2],
 909313175: [2],
 909313265: [2],
 909338001: [2],
 909338051: [2],
 909338079: [2],
 909338124: [2],
 909338185: [2],
 909369015: [3],
 909369043: [3],
 909369068: [3],
 909369096: [3],
 909369118: [3],
 909812002: [2],
 909812020: [2],
 909812064: [2],
 909812074: [2],
 909824005: [2],
 909824042: [2],
 909824076: [2],
 909824134: [2],
 909851026: [3],
 909851048: [3],
 909851067: [3],
 909851098: [3],
 909851109: [3],
 909887022: [3],
 909887046: [3],
 909887074: [3],
 909887102: [3],
 909964004: [3],
 909964023: [3],
 909964034: [3],
 909964065: [3],
 909964076: [3],
 910025009: [3],
 910025041: [3],
 910025063: [3],
 910025090: [3],
 910025117: [3],
 910147033: [2],
 910147074: [2],
 910147086: [2],
 910147130: [2],
 910147163: [2],
 910196022: [3],
 910196038: [3],
 910196052: [3],
 910196076: [3],
 910202029: [3],
 910202062: [3],
 910202075: [3],
 910202103: [3],
 910202136: [3],
 910220012: [3],
 910220034: [3],
 910220047: [3],
 910220079: [3],
 910220099: [3],
 910228006: [2],
 910228026: [2],
 910228045: [2],
 910228076: [2],
 910228093: [2],
 910278038: [2],
 910278100: [2],
 910278122: [2],
 910308008: [4],
 910308038: [4],
 910308045: [4],
 910308067: [4],
 910308098: [4],
 910497053: [2],
 910497085: [2],
 910497110: [2],
 910497116: [2],
 910497117: [2],
 910606019: [2],
 910606036: [2],
 910606065: [2],
 910606088: [2],
 910606109: [2],
 910615034: [3],
 910615065: [3],
 910615108: [3],
 910615137: [3],
 910615174: [3],
 910672028: [3],
 910672065: [3],
 910672100: [3],
 910672113: [3],
 910726019: [4],
 910726037: [4],
 910726058: [4],
 910726088: [4],
 910807015: [3],
 910807034: [3],
 910807055: [3],
 910807068: [3],
 910855008: [2],
 910855031: [2],
 910855049: [2],
 910855076: [2],
 910855091: [2],
 910865006: [4],
 910865030: [4],
 910865055: [4],
 910865078: [4],
 910865101: [4],
 911007057: [4],
 911007102: [4],
 911007150: [4],
 911046017: [3],
 911046040: [3],
 911046088: [3],
 911046098: [3],
 911062012: [4],
 911062032: [4],
 911062061: [4],
 911062083: [4],
 911062114: [4],
 911089002: [3],
 911089023: [3],
 911089045: [3],
 911089066: [3],
 911089088: [3],
 911167047: [3],
 911167048: [3],
 911167075: [3],
 911167103: [3],
 911239021: [2],
 911239051: [2],
 911239075: [2],
 911239093: [2],
 911239114: [2],
 911357012: [2],
 911357036: [2],
 911357060: [2],
 911357068: [2],
 911403022: [2],
 911403088: [2],
 911403116: [2],
 911403132: [2],
 911403137: [2],
 911458003: [2],
 911458024: [2],
 911458045: [2],
 911458067: [2],
 911458088: [2],
 911578007: [3],
 911578030: [3],
 911578062: [3],
 911578071: [3],
 911578106: [3],
 911735012: [2],
 911735031: [2],
 911735061: [2],
 911735127: [2],
 911762014: [2],
 911762042: [2],
 911762065: [2],
 911762091: [2],
 911762107: [2],
 911900013: [2],
 911900054: [2],
 911900088: [2],
 911900098: [2],
 911900111: [2],
 911958031: [3],
 911958054: [3],
 911958078: [3],
 911958091: [3],
 911958129: [3],
 911968057: [4],
 911968093: [4],
 911968127: [4],
 911975006: [4],
 911975054: [4],
 911975075: [4],
 911975092: [4],
 912044029: [3],
 912044060: [3],
 912044094: [3],
 912044147: [3],
 912081011: [3],
 912081072: [3],
 912081089: [3],
 912081099: [3],
 912116023: [4],
 912116085: [4],
 912116155: [4],
 912141040: [3],
 912141087: [3],
 912141140: [3],
 912141185: [3],
 912141230: [3],
 912145024: [4],
 912145048: [4],
 912145087: [4],
 912145128: [4],
 912152010: [4],
 912152023: [4],
 912152062: [4],
 912152090: [4],
 912152111: [4],
 912157112: [4],
 912157155: [4],
 912157199: [4],
 912157207: [4],
 912262008: [3],
 912262074: [3],
 912262129: [3],
 912262182: [3],
 912262242: [3],
 912291001: [4],
 912291078: [4],
 912291096: [4],
 912291104: [4],
 912358024: [4],
 912358048: [4],
 912358124: [4],
 912416011: [3],
 912416027: [3],
 912416061: [3],
 912416069: [3],
 912416084: [3],
 912420034: [2],
 912420056: [2],
 912420093: [2],
 912420109: [2],
 912420143: [2],
 912458021: [2],
 912458049: [2],
 912458074: [2],
 912458104: [2],
 912458144: [2],
 912468025: [2],
 912468099: [2],
 912468117: [2],
 912468139: [2],
 912584035: [2],
 912584068: [2],
 912584093: [2],
 912584097: [2],
 912585010: [3],
 912585048: [3],
 912585076: [3],
 912585082: [3],
 912628024: [3],
 912628063: [3],
 912628115: [3],
 912628157: [3],
 912628211: [3],
 912713011: [3],
 912713026: [3],
 912713033: [3],
 912713058: [3],
 912716029: [3],
 912716051: [3],
 912716076: [3],
 912716099: [3],
 912729010: [3],
 912729044: [3],
 912729072: [3],
 912729083: [3],
 912729131: [3],
 912771007: [2],
 912771054: [2],
 912771100: [2],
 912771138: [2],
 912771179: [2],
 912816026: [4],
 912816086: [4],
 912816202: [4],
 912816287: [4],
 912821014: [4],
 912821047: [4],
 912821059: [4],
 912821094: [4],
 912821099: [4],
 913125003: [4],
 913125033: [4],
 913131011: [3],
 913131031: [3],
 913131051: [3],
 913131072: [3],
 913131084: [3],
 913311012: [3],
 913311052: [3],
 913311092: [3],
 913311127: [3],
 913313007: [2],
 913313069: [2],
 913313194: [2],
 913313260: [2],
 ...}

In [75]:
#Bring est_soc column from viv_mega_df
per_mega_df.insert(3,'est_soc',per_mega_df.folioviv.map(est_cat))
per_mega_df['est_soc'] = per_mega_df['est_soc'].str[0]

In [76]:
per_mega_df.insert(4,'est_soc_name',per_mega_df['est_soc'])

In [77]:
per_mega_df = per_mega_df.replace({'est_soc_name' : {1:'Bajo', 2: 'Medio bajo', 3: 'Medio alto', 4: 'Alto'}})
per_mega_df

,folioviv,state,state_name,est_soc,est_soc_name,foliohog,id_pobla,edad,nacio_dia,nacio_mes,...,med_nerv,inte_nerv,frec_depre,med_depre,inte_depre,frec_dolor,inte_dolor,frec_cansa,tiem_cansa,inte_cansa
50355,900083044,9,Ciudad de México,4,Alto,1,1,56,3,7,...,2,1,4,2,1,1,,1,,
50356,900083044,9,Ciudad de México,4,Alto,1,2,26,17,6,...,2,1,5,2,,1,,1,,
50357,900083065,9,Ciudad de México,4,Alto,1,1,57,29,7,...,2,1,4,2,1,2,1,2,1,3
50358,900083065,9,Ciudad de México,4,Alto,1,2,47,9,3,...,2,1,5,2,,1,,1,,
50359,900083065,9,Ciudad de México,4,Alto,1,3,29,19,5,...,2,1,5,2,,1,,2,1,1
50360,900083065,9,Ciudad de México,4,Alto,1,4,28,19,5,...,2,1,4,2,3,1,,2,3,1
50361,900083065,9,Ciudad de México,4,Alto,1,5,5,5,5,...,,,,,,,,,,
50362,900083065,9,Ciudad de México,4,Alto,1,6,28,7,5,...,2,,4,2,1,9,,2,1,1
50363,900083089,9,Ciudad de México,4,Alto,1,1,57,16,11,...,2,1,3,2,2,2,2,4,1,1
50364,900083089,9,Ciudad de México,4,Alto,1,2,57,14,6,...,2,1,3,2,2,2,2,4,1,1
50365,900083089,9,Ciudad de México,4,Alto,1,3,18,25,9,...,2,1,5,2,,1,,1,,
50366,900083113,9,Ciudad de México,4,Alto,1,1,40,4,4,...,2,2,5,2,,2,3,4,2,2
50367,900083113,9,Ciudad de México,4,Alto,1,2,30,27,8,...,2,1,5,2,,2,2,4,3,2
50368,900083113,9,Ciudad de México,4,Alto,1,3,0,29,11,...,,,,,,,,,,
50369,900168010,9,Ciudad de México,2,Medio bajo,1,1,85,10,4,...,2,,5,2,,4,2,4,2,2
50370,900168032,9,Ciudad de México,2,Medio bajo,1,1,55,8,2,...,2,2,4,2,1,1,,4,1,2
50371,900168032,9,Ciudad de México,2,Medio bajo,1,2,48,24,7,...,2,1,5,2,,1,,2,1,1
50372,900168032,9,Ciudad de México,2,Medio bajo,1,3,15,11,7,...,2,,5,2,,1,,1,,
50373,900168065,9,Ciudad de México,2,Medio bajo,1,1,36,27,11,...,2,1,4,2,2,1,,2,1,2
50374,900168065,9,Ciudad de México,2,Medio bajo,1,2,28,11,3,...,2,1,4,2,1,1,,1,,
50375,900168065,9,Ciudad de México,2,Medio bajo,1,3,26,22,5,...,2,1,4,2,1,1,,1,,
50376,900168065,9,Ciudad de México,2,Medio bajo,1,4,22,18,2,...,2,1,4,2,1,1,,1,,
50377,900168089,9,Ciudad de México,2,Medio bajo,1,1,72,8,9,...,2,,5,2,,1,,1,,
50378,900168089,9,Ciudad de México,2,Medio bajo,1,2,73,29,2,...,2,1,5,2,,1,,2,1,1
50379,900168100,9,Ciudad de México,2,Medio bajo,1,1,56,28,8,...,2,1,5,2,,1,,2,1,1
50380,900168100,9,Ciudad de México,2,Medio bajo,1,2,39,3,5,...,2,1,5,2,,2,1,2,1,1
50381,900168100,9,Ciudad de México,2,Medio bajo,1,3,34,31,8,...,2,1,5,2,,1,,1,,
50382,900168100,9,Ciudad de México,2,Medio bajo,1,4,27,31,8,...,2,,5,2,,1,,1,,
50383,900184035,9,Ciudad de México,2,Medio bajo,1,1,86,20,3,...,2,2,9,2,,4,2,2,3,1
50384,900184035,9,Ciudad de México,2,Medio bajo,1,2,44,25,1,...,2,2,4,2,3,2,3,2,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188535,2960259262,29,Tlaxcala,2,Medio bajo,1,1,41,11,1,...,2,2,4,2,1,1,,2,1,1
188536,2960259262,29,Tlaxcala,2,Medio bajo,1,2,40,30,6,...,2,2,2,2,1,2,1,2,1,1
188537,2960259262,29,Tlaxcala,2,Medio bajo,1,3,15,6,8,...,2,1,4,2,1,2,1,2,1,1
188538,2960259262,29,Tlaxcala,2,Medio bajo,1,4,11,13,5,...,2,,5,2,,1,,1,,
188539,2960259262,29,Tlaxcala,2,Medio bajo,1,5,8,30,8,...,2,,5,2,,2,1,1,,
188540,2960259263,29,Tlaxcala,2,Medio bajo,1,1,42,6,6,...,2,1,4,2,1,1,,1,,
188541,2960259263,29,Tlaxcala,2,Medio bajo,1,2,38,31,5,...,2,1,4,2,1,1,,1,,
188542,2960259263,29,Tlaxcala,2,Medio bajo,1,3,20,17,4,...,2,1,4,2,1,1,,1,,
188543,2960259263,29,Tlaxcala,2,Medio bajo,1,4,18,16,5,...,2,1,4,2,1,1,,1,,
188544,2960259263,29,Tlaxcala,2,Medio bajo,1,5,14,31,3,...,2,1,4,2,1,2,1,2,1,1
188545,2960259264,29,Tlaxcala,2,Medio bajo,1,1,42,10,1,...,2,,5,2,,1,,1,,
188546,2960259264,29,Tlaxcala,2,Medio bajo,1,2,38,24,8,...,2,,5,2,,1,,1,,
188547,2960259264,29,Tlaxcala,2,Medio bajo,1,3,16,11,4,...,2,,5,2,,1,,1,,
188548,2960259264,29,Tlaxcala,2,Medio bajo,1,4,12,1,9,...,2,,5,2,,1,,1,,
188549,2960259264,29,Tlaxcala,2,Medio bajo,1,5,6,19,8,...,,,,,,,,,,
188550,2960259345,29,Tlaxcala,2,Medio bajo,1,1,27,4,7,...,2,1,2,2,1,3,1,3,1,1
188551,2960259345,29,Tlaxcala,2,Medio bajo,1,2,32,27,11,...,2,,5,2,,1,,1,,
188552,2960259345,29,Tlaxcala,2,Medio bajo,1,3,11,7,3,...,2,,5,2,,1,,1,,
188553,2960259345,29,Tlaxcala,2,Medio bajo,1,4,3,1,3,...,,,,,,,,,,
188554,2960259345,29,Tlaxcala,2,Medio bajo,1,5,2,13,12,...,,,,,,,,,,
188555,2960259346,29,Tlaxcala,2,Medio bajo,1,1,29,11,9,...,2,1,5,2,,1,,1,,
188556,2960259346,29,Tlaxcala,2,Medio bajo,1,2,30,16,10,...,2,1,3,2,1,1,,1,,
188557,2960259346,29,Tlaxcala,2,Medio bajo,1,3,8,24,7,...,2,1,5,2,,1,,1,,
188558,2960259346,29,Tlaxcala,2,Medio bajo,1,4,5,21,10,...,,,,,,,,,,
188559,2960259350,29,Tlaxcala,2,Medio bajo,1,1,91,27,6,...,2,3,4,2,3,4,3,2,1,1
188560,2960259350,29,Tlaxcala,2,Medio bajo,1,2,88,25,7,...,2,1,3,2,3,2,1,4,1,1
188561,2960259350,29,Tlaxcala,2,Medio bajo,1,3,52,5,2,...,2,,5,2,,4,3,1,,
188562,2960259350,29,Tlaxcala,2,Medio bajo,1,4,58,3,5,...,2,3,3,2,3,1,,2,1,1
188563,2960259351,29,Tlaxcala,2,Medio bajo,1,1,66,5,7,...,2,3,5,2,,3,3,2,1,2
188564,2960259351,29,Tlaxcala,2,Medio bajo,1,2,62,3,3,...,2,2,2,2,3,2,3,1,,

### Variables chosen for the project:
•	edad: Edad N (3)
•	sexo: Sexo C (1)
•	nivel_inst: Nivel de instrucción C (2)
•	alfabetism: Alfabetismo C (1)
•	edo_conyug: Estado conyugal C (1)
•	act_buscot: Actividad busca de empleo C (1)
•	act_pensio: Actividad pensionado o jubilado C (1)
•	act_quehac: Actividad quehaceres del hogar C (1)
•	act_estudi: Actividad estudiante C (1)
•	act_discap: Actividad limitación física o mental C (1)
•	act_otra: Actividad de otra situación diferente C (1)
•	num_trabaj: Números de trabajos C (1)

In [78]:
# APARTADO B. CARACTERÍSTICAS DE LOS INTEGRANTES DEL HOGAR, EDUCACIÓN Y OCUPACIÓN PARA TODAS LAS PERSONAS DEL HOGAR
# 2. ¿Cuántos años cumplidos tiene ?
per_mega_df.groupby('state')['edad'].value_counts()

state  edad
9      40      118
       35      113
       22      111
       24      108
       30      107
       42      105
       23       98
       27       98
       19       95
       26       95
       29       95
       32       95
       60       94
       18       93
       25       93
       45       93
       43       90
       50       89
       17       88
       20       87
       33       87
       39       87
       52       86
       5        85
       21       85
       16       84
       34       84
       31       82
       46       82
       55       82
              ...
29     70       26
       71       24
       68       23
       72       23
       76       23
       75       19
       73       17
       78       17
       85       17
       81       16
       84       16
       79       14
       80       13
       77       11
       82       11
       87       10
       74        8
       83        8
       86        7
       88        6
       89        6
       91        4
       93        3
       94        3
       96        3
       92        2
       95        2
       90        1
       99        1
       102       1
Name: edad, Length: 687, dtype: int64

In [79]:
# 2. es... 1.hombre 2.mujer
per_mega_df.groupby('state')['sexo'].value_counts()

state  sexo
9      2       3057
       1       2844
13     2       3441
       1       3079
15     2       3655
       1       3379
17     2       3016
       1       2768
21     2       3437
       1       3175
22     2       3588
       1       3353
29     2       3814
       1       3551
Name: sexo, dtype: int64

In [80]:
# 15. ¿ sabe leer y escribir un recado?   1 SI  2 NO
per_mega_df.groupby('state')['alfabetism'].value_counts()

state  alfabetism
9      1             5349
                      405
       2              147
13     1             5299
                      675
       2              546
15     1             6176
                      610
       2              248
17     1             4968
                      500
       2              316
21     1             5331
                      692
       2              589
22     1             5863
                      688
       2              390
29     1             6240
                      733
       2              392
Name: alfabetism, dtype: int64

In [81]:
# 16. Actualmente   1 vive con su pareja en unión libre?  2 está separada(o)?  3 está divorciada(o)?
# 4 está viuda(o)?  5 está soltera(o)?   6 está casada(o) civil y/o religiosamente?
per_mega_df.groupby('state')['edo_conyug'].value_counts()

state  edo_conyug
9      5             1845
       6             1678
                      833
       1              818
       2              316
       4              272
       3              139
13     6             1820
       5             1669
                     1451
       1             1054
       4              266
       2              190
       3               70
15     5             2041
       6             2018
                     1343
       1             1029
       2              279
       4              245
       3               79
17     6             1602
       5             1517
                     1085
       1              894
       2              335
       4              272
       3               79
21     5             1764
       6             1613
                     1410
       1             1192
       2              297
       4              275
       3               61
22     6             2226
       5             2021
                     1441
       1              731
       4              234
       2              205
       3               83
29     6             2058
       5             1954
                     1603
       1             1146
       2              325
       4              214
       3               65
Name: edo_conyug, dtype: int64

In [82]:
# 13. ¿Cuál es el último año o grado que aprobó en la escuela?    Nivel de instrucción
# 03 Secundaria   02 Primaria   10 Licenciatura o profesional  04 Preparatoria o bachillerato  
# 00 Ninguno  01 Preescolar   05 Normal básica  06 Estudios técnicos o comerciales con primaria terminada  
# 07 Estudios técnicos o comerciales con secundaria terminada 08 Estudios técnicos o comerciales con 
# preparatoria terminada   09 Normal de licenciatura   11 Maestría   12 Doctorado
per_mega_df.groupby('state')['nivel_inst'].value_counts()

state  nivel_inst
9      3             1279
       2             1195
       10            1164
       4             1155
       1              196
                      193
       7              189
       0              185
       11             132
       8              106
       6               39
       12              34
       9               24
       5               10
13     2             1993
       3             1734
       4              857
       0              553
       10             522
                      323
       1              278
       7               84
       11              46
       8               43
       9               39
       5               28
       6               12
       12               8
15     3             1867
       2             1783
                     ...
21     5               10
       6                5
22     2             1851
       3             1820
       4              925
       10             843
       0              532
                      326
       1              260
       7              116
       8              110
       11              73
       9               28
       6               23
       5               20
       12              14
29     2             2069
       3             1967
       4             1157
       10             775
       0              443
                      342
       1              285
       7              120
       8               77
       11              53
       5               31
       9               25
       6               11
       12              10
Name: nivel_inst, Length: 98, dtype: int64

In [83]:
#APARTADO B. CARACTERÍSTICAS DE LOS INTEGRANTES DEL HOGAR, EDUCACIÓN Y OCUPACIÓN
#¿Entonces la semana pasada,
#1 estuvo buscando trabajo?
per_mega_df.groupby('state')['act_buscot'].value_counts()

state  act_buscot
9                    5793
       1              108
13                   6461
       1               59
15                   6937
       1               97
17                   5684
       1              100
21                   6569
       1               43
22                   6865
       1               76
29                   7276
       1               89
Name: act_buscot, dtype: int64

In [84]:
#2 es pensionado o jubilado?
per_mega_df.groupby('state')['act_pensio'].value_counts()

state  act_pensio
9                    5572
       2              329
13                   6426
       2               94
15                   6880
       2              154
17                   5610
       2              174
21                   6525
       2               87
22                   6798
       2              143
29                   7261
       2              104
Name: act_pensio, dtype: int64

In [85]:
#3 se dedicó a los quehaceres del hogar?
per_mega_df.groupby('state')['act_quehac'].value_counts()

state  act_quehac
9                    5087
       3              814
13                   4882
       3             1638
15                   5771
       3             1263
17                   4553
       3             1231
21                   5638
       3              974
22                   5801
       3             1140
29                   5853
       3             1512
Name: act_quehac, dtype: int64

In [86]:
#4 se dedicó a estudiar?
per_mega_df.groupby('state')['act_estudi'].value_counts()

state  act_estudi
9                    5228
       4              673
13                   5870
       4              650
15                   6070
       4              964
17                   5238
       4              546
21                   6027
       4              585
22                   6206
       4              735
29                   6591
       4              774
Name: act_estudi, dtype: int64

In [87]:
#5 Es una persona con alguna limitación física o mental que le impide trabajar por el resto de su vida
per_mega_df.groupby('state')['act_discap'].value_counts()

state  act_discap
9                    5820
       5               81
13                   6428
       5               92
15                   6947
       5               87
17                   5701
       5               83
21                   6510
       5              102
22                   6821
       5              120
29                   7287
       5               78
Name: act_discap, dtype: int64

In [88]:
#6 Está en otra situación diferente a las anteriores
per_mega_df.groupby('state')['act_otra'].value_counts()

state  act_otra
9                  5856
       6             45
13                 6478
       6             42
15                 6968
       6             66
17                 5762
       6             22
21                 6581
       6             31
22                 6906
       6             35
29                 7330
       6             35
Name: act_otra, dtype: int64

In [89]:
#¿Cuántos trabajos tuvo ... la semana pasada? 1. Solo uno 2. Dos o mas
per_mega_df.groupby('state')['num_trabaj'].value_counts()

state  num_trabaj
9      1             3027
                     2811
       2               63
13                   3516
       1             2871
       2              133
15                   3851
       1             3121
       2               62
17                   2875
       1             2815
       2               94
21     1             3376
                     3056
       2              180
22                   3568
       1             3238
       2              135
29                   3642
       1             3581
       2              142
Name: num_trabaj, dtype: int64

In [90]:
# 17. Durante la semana pasada, trabajó?   1 SÍ   2 NO    9 No sabe
per_mega_df.groupby('state')['trabajo_sp'].value_counts()

state  trabajo_sp
9      1             3034
       2             2034
                      833
13     1             2958
       2             2111
                     1451
15     1             3126
       2             2565
                     1343
17     1             2863
       2             1836
                     1085
21     1             3496
       2             1706
                     1410
22     1             3321
       2             2179
                     1441
29     1             3668
       2             2094
                     1603
Name: trabajo_sp, dtype: int64

In [91]:
# 14. ¿Hace 5 años, en 2012, en qué estado de la república mexicana o país vivía?
per_mega_df.groupby('state')['residencia'].value_counts()

state  residencia
9      9             5388
                      320
       15              69
       16              15
       12              11
       21              11
       30              11
       34              11
       20               9
       33               9
       28               8
       19               7
       1                4
       13               4
       14               3
       22               3
       26               3
       11               2
       25               2
       27               2
       29               2
       10               1
       17               1
       23               1
       24               1
       31               1
       32               1
       7                1
13     13            5580
                      551
                     ...
22     18               1
       23               1
       26               1
       3                1
       32               1
       4                1
29     29            6430
                      602
       15              71
       9               69
       21              64
       30              29
       33              21
       13              12
       2               10
       11               9
       19               8
       23               6
       12               5
       5                5
       16               4
       20               4
       28               4
       34               3
       14               2
       22               2
       3                2
       1                1
       10               1
       8                1
Name: residencia, Length: 176, dtype: int64

## Hogar file

In [92]:
# Only Megalopolis data from the hogar file
hog_mega_df = hogar_df.loc[
    (hogar_df["folioviv"] > 899999999) & (hogar_df["folioviv"] < 1000000000) |
    (hogar_df["folioviv"] > 1299999999) & (hogar_df["folioviv"] < 1400000000) |
    (hogar_df["folioviv"] > 1499999999) & (hogar_df["folioviv"] < 1600000000) |
    (hogar_df["folioviv"] > 1699999999) & (hogar_df["folioviv"] < 1800000000) |
    (hogar_df["folioviv"] > 2099999999) & (hogar_df["folioviv"] < 2300000000) |
    (hogar_df["folioviv"] > 2899999999) & (hogar_df["folioviv"] < 3000000000), :]
hog_mega_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12483 entries, 13982 to 52138
Data columns (total 13 columns):
folioviv      12483 non-null int64
foliohog      12483 non-null int64
huespedes     12483 non-null int64
huesp_come    12483 non-null object
trabaja_do    12483 non-null object
cuid_perso    12483 non-null object
lavandero     12483 non-null object
chofer        12483 non-null object
cocinero      12483 non-null object
jardinero     12483 non-null object
tot_integ     12483 non-null int64
tot_hom       12483 non-null int64
tot_muj       12483 non-null int64
dtypes: int64(6), object(7)
memory usage: 1.3+ MB

In [93]:
# Add a new column to add the state number
hog_mega_df.insert(1, 'state', 0)

In [94]:
# State is inserted after the field folioviv
hog_mega_df.columns

Index(['folioviv', 'state', 'foliohog', 'huespedes', 'huesp_come',
       'trabaja_do', 'cuid_perso', 'lavandero', 'chofer', 'cocinero',
       'jardinero', 'tot_integ', 'tot_hom', 'tot_muj'],
      dtype='object')

In [95]:
# Assign the state number to make groups and counters
hog_mega_df.loc[(hog_mega_df["folioviv"] > 899999999) & (hog_mega_df["folioviv"] < 1000000000), 'state'] = 9
hog_mega_df.loc[(hog_mega_df["folioviv"] > 1299999999) & (hog_mega_df["folioviv"] < 1400000000), 'state'] = 13
hog_mega_df.loc[(hog_mega_df["folioviv"] > 1499999999) & (hog_mega_df["folioviv"] < 1600000000), 'state'] = 15
hog_mega_df.loc[(hog_mega_df["folioviv"] > 1699999999) & (hog_mega_df["folioviv"] < 1800000000), 'state'] = 17
hog_mega_df.loc[(hog_mega_df["folioviv"] > 2099999999) & (hog_mega_df["folioviv"] < 2200000000), 'state'] = 21
hog_mega_df.loc[(hog_mega_df["folioviv"] > 2199999999) & (hog_mega_df["folioviv"] < 2300000000), 'state'] = 22
hog_mega_df.loc[(hog_mega_df["folioviv"] > 2899999999) & (hog_mega_df["folioviv"] < 3000000000), 'state'] = 29

In [96]:
# Count the rows by state
hog_mega_df.groupby('state')['folioviv'].count()

state
9     1790
13    1759
15    1853
17    1646
21    1725
22    1871
29    1839
Name: folioviv, dtype: int64

In [97]:
# Count the rows by state
viv_mega_df.groupby('state')['ubica_geo'].value_counts()

state  ubica_geo
9      90070000     300
       90050000     191
       90120000     165
       90150000     156
       90100000     138
       90030000     132
       90170000     107
       90140000     103
       90020000      92
       90060000      85
       90110000      84
       90130000      59
       90160000      59
       90040000      42
       90080000      40
       90090000      23
13     130480000    167
       130670000    115
       130510000     98
       130630000     86
       130760000     82
       130770000     82
       130130000     71
       130280000     68
       130300000     67
       130590000     53
       130290000     50
       130560000     44
       130640000     38
       130730000     38
                   ...
29     290360000     37
       290210000     36
       290140000     34
       290310000     31
       290380000     31
       290280000     30
       290390000     26
       290410000     24
       290300000     20
       290020000     19
       290070000     19
       290420000     19
       290460000     19
       290340000     18
       290530000     18
       290560000     18
       290550000     17
       290010000     16
       290170000     14
       290320000     14
       290490000     14
       290350000     10
       290540000     10
       290600000     10
       290270000      9
       290230000      8
       290500000      8
       290090000      5
       290570000      5
       290580000      5
Name: ubica_geo, Length: 249, dtype: int64

In [98]:
# Número de integrantes del hogar
hog_mega_df.groupby('state')['tot_integ'].value_counts()

state  tot_integ
9      2            395
       4            384
       3            379
       1            266
       5            200
       6             90
       7             35
       8             17
       9             10
       10             8
       11             2
       16             2
       13             1
       14             1
13     4            419
       2            311
       3            308
       5            271
       1            197
       6            133
       7             56
       8             42
       9             10
       10             6
       12             4
       11             2
15     4            470
       3            370
       5            318
       2            294
                   ...
21     12             3
       14             2
       13             1
22     4            445
       3            386
       2            311
       5            295
       1            187
       6            130
       7             58
       8             33
       9              9
       10             9
       11             4
       13             2
       14             2
29     4            477
       5            333
       3            317
       2            272
       6            152
       1            133
       7             68
       8             43
       9             25
       10            13
       11             2
       12             2
       14             1
       17             1
Name: tot_integ, Length: 93, dtype: int64

In [99]:
# Total de integrantes hombres
hog_mega_df.groupby('state')['tot_hom'].value_counts()

state  tot_hom
9      1          710
       2          508
       3          246
       0          241
       4           61
       5           16
       6            4
       8            2
       7            1
       9            1
13     1          657
       2          504
       3          281
       0          186
       4           90
       5           35
       6            6
15     1          670
       2          586
       3          314
       0          150
       4           95
       5           25
       6            6
       7            5
       8            1
       11           1
17     1          621
       2          482
       3          225
                 ...
       6            5
21     1          614
       2          525
       3          244
       0          166
       4          126
       5           35
       6            8
       7            5
       8            1
       9            1
22     1          683
       2          567
       3          303
       0          178
       4           95
       5           33
       6            5
       7            5
       8            1
       9            1
29     1          594
       2          592
       3          340
       0          142
       4          124
       5           33
       6           10
       7            2
       9            2
Name: tot_hom, Length: 63, dtype: int64

In [100]:
# Total de integrantes mujeres
hog_mega_df.groupby('state')['tot_muj'].value_counts()

state  tot_muj
9      1          743
       2          517
       3          245
       0          166
       4           80
       5           22
       6            9
       7            4
       8            3
       9            1
13     1          632
       2          525
       3          321
       4          112
       0          105
       5           43
       6           16
       7            3
       8            2
15     1          620
       2          596
       3          344
       4          126
       0          109
       5           44
       6           12
       7            1
       8            1
17     1          616
       2          548
                 ...
       8            2
21     1          616
       2          511
       3          286
       4          139
       0          102
       5           50
       6           15
       7            4
       8            1
       9            1
22     1          638
       2          626
       3          322
       0          124
       4          105
       5           34
       6           16
       7            4
       8            1
       10           1
29     1          614
       2          571
       3          376
       4          124
       0           75
       5           51
       6           19
       7            7
       8            2
Name: tot_muj, Length: 66, dtype: int64