# D5 - Project 2
----

### Summary
This notebook shows the process we followed to clean, explore and analyze the data set 
that contains information about the __National Household Survey__ for the `Megalopolis -- Zona Metropolitana del Valle de México`

__States:__
** Ciudad de México ** Estado de México ** Hidalgo ** Puebla ** Morelos ** Querétaro  ** Tlaxcala

----

In [1]:
# Dependencies
import pandas as pd

In [2]:
# National Household Survey

# Características de las viviendas que habitan los integrantes de los hogares encuestados

# Save path to data set in a variable
vivienda_file = "./Resources/vivienda.csv"

# Use Pandas to read data - Main file PK folioviv
vivienda_df = pd.read_csv(vivienda_file, low_memory=False) 

# Show the results
vivienda_df.count()

folioviv      56680
tipo_viv      56680
condominio    56680
elevador      56680
mat_pared     56680
mat_techos    56680
mat_pisos     56680
ais_techos    56680
ais_pared     56680
ais_ventan    56680
ais_otro      56680
antiguedad    56680
cocina        56680
cocina_dor    56680
cuart_dorm    56680
num_cuarto    56680
disp_agua     56680
dotac_agua    56680
excusado      56680
uso_compar    56680
sanit_agua    56680
bano_comp     56680
bano_excus    56680
bano_regad    56680
drenaje       56680
disp_elect    56680
anio_panel    56680
panel_ne      56680
pot_panel     56680
potencia      56680
              ...
mes_res       56680
familiar      56680
tipo_adqui    56680
financia_1    56680
financia_2    56680
financia_3    56680
financia_4    56680
financia_5    56680
financia_6    56680
financia_7    56680
financia_8    56680
num_dueno1    56680
hog_dueno1    56680
num_dueno2    56680
hog_dueno2    56680
escrituras    56680
computador    56680
tel_fijo      56680
celular       56680
internet      56680
tv_paga       56680
auto_pick     56680
tot_hog       56680
ubica_geo     56680
ageb          56680
tam_loc       56680
est_socio     56680
est_dis       56680
upm           56680
factor        56680
Length: 110, dtype: int64

In [3]:
# Características de los hogares
# Save path to data set in a variable
hogar_file = "./Resources/hogar.csv"

# Use Pandas to read data - 1st Aux file PK foliohog  FK folioviv
hogar_df = pd.read_csv(hogar_file, low_memory=False) 

# Show the results
hogar_df.count()

folioviv      57519
foliohog      57519
huespedes     57519
huesp_come    57519
trabaja_do    57519
cuid_perso    57519
lavandero     57519
chofer        57519
cocinero      57519
jardinero     57519
tot_integ     57519
tot_hom       57519
tot_muj       57519
dtype: int64

In [4]:
# Contiene características sociodemográficas y ocupacionales de los integrantes del hogar.
# Save path to data set in a variable
persona_file = "./Resources/persona.csv"

# Use Pandas to read data - 2nd Aux file PK id_pobla  FK folioviv, foliohog
persona_df = pd.read_csv(persona_file, low_memory=False) 

# Show the results
persona_df.count()

folioviv      208140
foliohog      208140
id_pobla      208140
edad          208140
nacio_dia     208140
nacio_mes     208140
sexo          208140
parentesco    208140
asiste_esc    208140
tipo_esc      208140
turno_esc     208140
tiene_beca    208140
otorg_beca    208140
forma_beca    208140
no_asiste     208140
grado_inst    208140
nivel_inst    208140
residencia    208140
alfabetism    208140
edo_conyug    208140
trabajo_sp    208140
motivo_aus    208140
act_buscot    208140
act_pensio    208140
act_quehac    208140
act_estudi    208140
act_discap    208140
act_otra      208140
num_trabaj    208140
subor         208140
indep         208140
personal      208140
pago          208140
contrato      208140
lentes        208140
dif_ver       208140
a_auditivo    208140
dif_oir       208140
sin_ruido     208140
con_ruido     208140
dif_camina    208140
usa_aparat    208140
ap_caminar    208140
cam_100mts    208140
cam_500mts    208140
sube_12esc    208140
dif_record    208140
frec_nerv     208140
med_nerv      208140
inte_nerv     208140
frec_depre    208140
med_depre     208140
inte_depre    208140
frec_dolor    208140
inte_dolor    208140
frec_cansa    208140
tiem_cansa    208140
inte_cansa    208140
dtype: int64

### Vivienda file

In [5]:
# Only Megalopolis data from the main file  
# folioviv begins with 9 for Ciudad de México  13 Hidalgo  15 México  17 Morelos  21 Puebla  22 Querétaro  29 Tlaxcala
viv_mega_df = vivienda_df.loc[
    (vivienda_df["folioviv"] > 899999999) & (vivienda_df["folioviv"] < 1000000000) |
    (vivienda_df["folioviv"] > 1299999999) & (vivienda_df["folioviv"] < 1400000000) |
    (vivienda_df["folioviv"] > 1499999999) & (vivienda_df["folioviv"] < 1600000000) |
    (vivienda_df["folioviv"] > 1699999999) & (vivienda_df["folioviv"] < 1800000000) |
    (vivienda_df["folioviv"] > 2099999999) & (vivienda_df["folioviv"] < 2300000000) |
    (vivienda_df["folioviv"] > 2899999999) & (vivienda_df["folioviv"] < 3000000000), :]
viv_mega_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12295 entries, 13805 to 51369
Columns: 110 entries, folioviv to factor
dtypes: int64(64), object(46)
memory usage: 10.4+ MB

In [6]:
# Add a new column to add the state number
viv_mega_df.insert(1, 'state', 0)

In [7]:
# State is inserted after the field folioviv
viv_mega_df.columns

Index(['folioviv', 'state', 'tipo_viv', 'condominio', 'elevador', 'mat_pared',
       'mat_techos', 'mat_pisos', 'ais_techos', 'ais_pared',
       ...
       'tv_paga', 'auto_pick', 'tot_hog', 'ubica_geo', 'ageb', 'tam_loc',
       'est_socio', 'est_dis', 'upm', 'factor'],
      dtype='object', length=111)

In [8]:
# Assign the state number to make groups and counters
viv_mega_df.loc[(viv_mega_df["folioviv"] > 899999999) & (viv_mega_df["folioviv"] < 1000000000), 'state'] = 9
viv_mega_df.loc[(viv_mega_df["folioviv"] > 1299999999) & (viv_mega_df["folioviv"] < 1400000000), 'state'] = 13
viv_mega_df.loc[(viv_mega_df["folioviv"] > 1499999999) & (viv_mega_df["folioviv"] < 1600000000), 'state'] = 15
viv_mega_df.loc[(viv_mega_df["folioviv"] > 1699999999) & (viv_mega_df["folioviv"] < 1800000000), 'state'] = 17
viv_mega_df.loc[(viv_mega_df["folioviv"] > 2099999999) & (viv_mega_df["folioviv"] < 2200000000), 'state'] = 21
viv_mega_df.loc[(viv_mega_df["folioviv"] > 2199999999) & (viv_mega_df["folioviv"] < 2300000000), 'state'] = 22
viv_mega_df.loc[(viv_mega_df["folioviv"] > 2899999999) & (viv_mega_df["folioviv"] < 3000000000), 'state'] = 29

C:\Users\Nancy\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [9]:
#Add a column with the name of the state
viv_mega_df.insert(2, 'state_name', viv_mega_df['state'])

In [10]:
#Add the names of the states in the column state_name
viv_mega_df = viv_mega_df.replace({'state_name' : {9:'Ciudad de México', 13:'Hidalgo', 15:'Estado de México', 17:'Morelos', 21:'Puebla', 22:'Querétaro', 29:'Tlaxcala'}})

In [11]:
viv_mega_df.tail(200)

,folioviv,state,state_name,tipo_viv,condominio,elevador,mat_pared,mat_techos,mat_pisos,ais_techos,...,tv_paga,auto_pick,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor
51170,2960087172,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290340000,000-0,4,2,301,7456,171
51171,2960087182,29,Tlaxcala,1,,,7,9,2,2,...,2,2,1,290340000,000-0,4,2,301,7456,171
51172,2960087186,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290340000,000-0,4,2,301,7456,171
51173,2960128106,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290050000,000-0,4,2,301,7457,154
51174,2960128107,29,Tlaxcala,1,,,8,9,2,2,...,2,2,1,290050000,000-0,4,2,301,7457,154
51175,2960128108,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290050000,000-0,4,2,301,7457,154
51176,2960128109,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290050000,000-0,4,2,301,7457,154
51177,2960128110,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290050000,000-0,4,2,301,7457,154
51178,2960128216,29,Tlaxcala,1,,,8,9,2,2,...,1,1,1,290050000,000-0,4,2,301,7457,154
51179,2960128217,29,Tlaxcala,1,,,8,9,3,2,...,1,2,1,290050000,000-0,4,2,301,7457,154
51180,2960128218,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290050000,000-0,4,2,301,7457,154
51181,2960128219,29,Tlaxcala,1,,,8,9,3,2,...,1,2,1,290050000,000-0,4,2,301,7457,154
51182,2960128238,29,Tlaxcala,1,,,8,9,3,2,...,2,1,1,290050000,000-0,4,2,301,7457,154
51183,2960128239,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290050000,000-0,4,2,301,7457,154
51184,2960128240,29,Tlaxcala,1,,,8,9,2,2,...,2,2,1,290050000,000-0,4,2,301,7457,154
51185,2960128276,29,Tlaxcala,1,,,8,9,3,2,...,1,1,1,290050000,000-0,4,2,301,7457,154
51186,2960128279,29,Tlaxcala,1,,,8,9,3,2,...,1,2,1,290050000,000-0,4,2,301,7457,154
51187,2960128280,29,Tlaxcala,1,,,8,9,3,2,...,1,1,1,290050000,000-0,4,2,301,7457,154
51188,2960128321,29,Tlaxcala,1,,,8,9,2,2,...,2,2,1,290050000,000-0,4,2,301,7457,154
51189,2960128328,29,Tlaxcala,1,,,8,9,2,2,...,2,2,1,290050000,000-0,4,2,301,7457,154
51190,2960128329,29,Tlaxcala,1,,,7,9,3,2,...,1,2,1,290050000,000-0,4,2,301,7457,154
51191,2960128330,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290050000,000-0,4,2,301,7457,154
51192,2960131006,29,Tlaxcala,1,,,7,4,2,2,...,1,2,1,290060000,000-0,4,2,301,7458,157
51193,2960131018,29,Tlaxcala,1,,,8,9,2,2,...,1,1,1,290060000,000-0,4,2,301,7458,157
51194,2960131030,29,Tlaxcala,1,,,8,9,2,2,...,1,1,1,290060000,000-0,4,2,301,7458,157
51195,2960131067,29,Tlaxcala,1,,,8,9,3,2,...,1,2,1,290060000,000-0,4,2,301,7458,157
51196,2960131077,29,Tlaxcala,1,,,8,9,3,2,...,1,1,2,290060000,000-0,4,2,301,7458,157
51197,2960131083,29,Tlaxcala,1,,,8,9,3,2,...,1,2,1,290060000,000-0,4,2,301,7458,157
51198,2960131098,29,Tlaxcala,1,,,8,9,2,2,...,2,1,1,290060000,000-0,4,2,301,7458,157
51199,2960131103,29,Tlaxcala,1,,,8,9,2,2,...,2,1,1,290060000,000-0,4,2,301,7458,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51340,2960249128,29,Tlaxcala,1,,,7,9,2,2,...,2,2,1,290400000,000-0,4,2,301,7466,171
51341,2960249129,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290400000,000-0,4,2,301,7466,171
51342,2960249130,29,Tlaxcala,1,,,8,9,2,2,...,2,2,1,290400000,000-0,4,2,301,7466,171
51343,2960249238,29,Tlaxcala,1,,,8,9,2,2,...,2,2,1,290400000,000-0,4,2,301,7466,171
51344,2960249241,29,Tlaxcala,1,,,7,2,1,2,...,2,2,1,290400000,000-0,4,2,301,7466,171
51345,2960249242,29,Tlaxcala,1,,,8,9,2,2,...,2,2,1,290400000,000-0,4,2,301,7466,171
51346,2960249273,29,Tlaxcala,1,,,8,4,1,2,...,2,2,1,290400000,000-0,4,2,301,7466,171
51347,2960249274,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290400000,000-0,4,2,301,7466,171
51348,2960249275,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290400000,000-0,4,2,301,7466,171
51349,2960249276,29,Tlaxcala,1,,,7,4,2,2,...,2,2,1,290400000,000-0,4,2,301,7466,171
51350,2960249281,29,Tlaxcala,1,,,8,9,2,2,...,2,1,1,290400000,000-0,4,2,301,7466,171
51351,2960259083,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290460000,000-0,4,2,301,7467,185
51352,2960259084,29,Tlaxcala,1,,,8,9,2,2,...,1,1,1,290460000,000-0,4,2,301,7467,185
51353,2960259085,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290460000,000-0,4,2,301,7467,185
51354,2960259086,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290460000,000-0,4,2,301,7467,185
51355,2960259087,29,Tlaxcala,1,,,8,9,2,2,...,1,1,1,290460000,000-0,4,2,301,7467,185
51356,2960259189,29,Tlaxcala,1,,,8,9,2,2,...,1,1,1,290460000,000-0,4,2,301,7467,185
51357,2960259190,29,Tlaxcala,1,,,8,9,2,2,...,1,1,1,290460000,000-0,4,2,301,7467,185
51358,2960259192,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290460000,000-0,4,2,301,7467,185
51359,2960259193,29,Tlaxcala,1,,,8,9,2,2,...,1,1,1,290460000,000-0,4,2,301,7467,185
51360,2960259194,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290460000,000-0,4,2,301,7467,185
51361,2960259260,29,Tlaxcala,1,,,6,2,1,2,...,2,2,1,290460000,000-0,4,2,301,7467,185
51362,2960259261,29,Tlaxcala,1,,,8,9,2,2,...,1,1,1,290460000,000-0,4,2,301,7467,185
51363,2960259262,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290460000,000-0,4,2,301,7467,185
51364,2960259263,29,Tlaxcala,1,,,8,9,2,2,...,2,2,1,290460000,000-0,4,2,301,7467,185
51365,2960259264,29,Tlaxcala,1,,,8,9,2,2,...,2,2,1,290460000,000-0,4,2,301,7467,185
51366,2960259345,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290460000,000-0,4,2,301,7467,185
51367,2960259346,29,Tlaxcala,1,,,8,9,2,2,...,1,1,1,290460000,000-0,4,2,301,7467,185
51368,2960259350,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290460000,000-0,4,2,301,7467,185
51369,2960259351,29,Tlaxcala,1,,,8,9,2,2,...,1,2,1,290460000,000-0,4,2,301,7467,185

In [12]:
# Count the rows by state, meaning the total number of houses per state considered in our sample
df = viv_mega_df.groupby(['state_name']).count()
houses_per_state = pd.DataFrame(df['folioviv'])
houses_per_state

                  folioviv
state_name
Ciudad de México      1776
Estado de México      1828
Hidalgo               1721
Morelos               1632
Puebla                1697
Querétaro             1830
Tlaxcala              1811

In [13]:
# Ubicación geográfica
# Los dos primeros dígitos representan la clave de la entidad (para CDMX sólo el primer dígito), 
# los siguientes tres la clave del municipio 
# y los últimos cuatro la clave de la localidad.

#Para CDMX
# 007 Iztapalapa  005 Gustavo A. Madero   012 Tlalpan  015 Cuauhtémoc   010 Álvaro Obregón  003 Coyoacán 
# 017 Venustiano Carranza  014 Benito Juárez  002 Azcapotzalco  006 Iztacalco  011 Tláhuac  013 Xochimilco 
# 016 Miguel Hidalgo  004 Cuajimalpa de Morelos  008 La Magdalena Contreras  009 Milpa Alta

viv_mega_df.groupby('state')['ubica_geo'].value_counts()

state  ubica_geo
9      90070000     300
       90050000     191
       90120000     165
       90150000     156
       90100000     138
       90030000     132
       90170000     107
       90140000     103
       90020000      92
       90060000      85
       90110000      84
       90130000      59
       90160000      59
       90040000      42
       90080000      40
       90090000      23
13     130480000    167
       130670000    115
       130510000     98
       130630000     86
       130760000     82
       130770000     82
       130130000     71
       130280000     68
       130300000     67
       130590000     53
       130290000     50
       130560000     44
       130640000     38
       130730000     38
                   ...
29     290360000     37
       290210000     36
       290140000     34
       290310000     31
       290380000     31
       290280000     30
       290390000     26
       290410000     24
       290300000     20
       290020000     19
       290070000     19
       290420000     19
       290460000     19
       290340000     18
       290530000     18
       290560000     18
       290550000     17
       290010000     16
       290170000     14
       290320000     14
       290490000     14
       290350000     10
       290540000     10
       290600000     10
       290270000      9
       290230000      8
       290500000      8
       290090000      5
       290570000      5
       290580000      5
Name: ubica_geo, Length: 249, dtype: int64

### Preparing dataframe for plotting (add columns)

Adding 'cve_ent_mun', 'Municipality'

In [14]:
#Datatype of ubica_geo in viv_mega
viv_mega_df['ubica_geo'].dtypes

dtype('int64')

In [15]:
viv_mega_df['ubica_geo'] = viv_mega_df['ubica_geo'].astype('str')

In [16]:
# Add a new column for the municipality code
viv_mega_df.insert(3, 'municipality', viv_mega_df['ubica_geo'].str[-7:-4])

In [17]:
viv_mega_df.head()

,folioviv,state,state_name,municipality,tipo_viv,condominio,elevador,mat_pared,mat_techos,mat_pisos,...,tv_paga,auto_pick,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor
13805,900083044,9,Ciudad de México,002,2,6,2,8,9,3,...,1,1,1,90020000,000-0,1,4,82,2181,1791
13806,900083065,9,Ciudad de México,002,2,5,2,8,9,3,...,2,2,1,90020000,000-0,1,4,82,2181,1791
13807,900083089,9,Ciudad de México,002,2,6,2,8,9,3,...,2,2,1,90020000,000-0,1,4,82,2181,1791
13808,900083113,9,Ciudad de México,002,2,6,2,8,9,3,...,2,2,1,90020000,000-0,1,4,82,2181,1791
13809,900168010,9,Ciudad de México,002,1,,,8,9,3,...,2,2,1,90020000,000-0,1,2,80,2182,1236

In [18]:
viv_mega_df['municipality'].unique()

array(['002', '003', '004', '005', '006', '007', '008', '010', '011',
       '012', '013', '014', '015', '016', '017', '009', '048', '077',
       '028', '030', '041', '050', '056', '061', '063', '069', '076',
       '021', '032', '046', '051', '057', '058', '059', '067', '070',
       '074', '075', '082', '029', '064', '073', '001', '020', '022',
       '024', '025', '026', '027', '037', '040', '049', '060', '062',
       '068', '081', '031', '033', '039', '099', '104', '106', '109',
       '121', '122', '023', '043', '044', '054', '091', '092', '108',
       '120', '042', '053', '087', '095', '100', '101', '086', '052',
       '110', '124', '018', '019', '114', '156', '045', '119', '132',
       '140', '154', '174', '197', '034', '065', '085', '090', '137',
       '177', '186', '199', '205', '072', '115', '170', '036', '071',
       '079', '111', '113', '129', '141', '157', '172', '192', '213',
       '126', '035', '038', '055'], dtype=object)

In [19]:
#Municipality is determined with both entity and municipality codes
viv_mega_df.groupby('municipality')['state_name'].value_counts()

municipality  state_name
001           Querétaro            56
              Hidalgo              19
              Tlaxcala             16
002           Ciudad de México     92
              Hidalgo              36
              Estado de México     23
              Tlaxcala             19
003           Ciudad de México    132
              Estado de México     36
              Querétaro            20
              Morelos              19
              Hidalgo              14
004           Morelos              47
              Ciudad de México     42
              Querétaro            39
005           Ciudad de México    191
              Tlaxcala            160
              Querétaro            58
              Morelos              17
              Estado de México      5
006           Morelos             159
              Querétaro           125
              Ciudad de México     85
              Tlaxcala             72
              Puebla               20
007           Ciudad de México    300
              Morelos             292
              Querétaro            56
              Tlaxcala             19
              Estado de México     18
                                 ...
109           Estado de México     73
110           Estado de México     20
111           Puebla               19
113           Puebla               14
114           Puebla              453
115           Puebla               18
119           Puebla               26
120           Estado de México     25
121           Estado de México     37
122           Estado de México     30
124           Estado de México     17
126           Puebla               19
129           Puebla               20
132           Puebla               45
137           Puebla               18
140           Puebla               31
141           Puebla               19
154           Puebla               65
156           Puebla               93
157           Puebla               16
170           Puebla               19
172           Puebla               18
174           Puebla               17
177           Puebla               39
186           Puebla               19
192           Puebla               15
197           Puebla               50
199           Puebla               20
205           Puebla               20
213           Puebla               16
Name: state_name, Length: 249, dtype: int64

In [20]:
#Add a column that concatenates entity and municipality codes - viv_mega file
viv_mega_df.insert(1,'cve_ent_mun', viv_mega_df['state'].map(str) + viv_mega_df['municipality'].map(str))

In [21]:
viv_mega_df.head()

,folioviv,cve_ent_mun,state,state_name,municipality,tipo_viv,condominio,elevador,mat_pared,mat_techos,...,tv_paga,auto_pick,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor
13805,900083044,9002,9,Ciudad de México,002,2,6,2,8,9,...,1,1,1,90020000,000-0,1,4,82,2181,1791
13806,900083065,9002,9,Ciudad de México,002,2,5,2,8,9,...,2,2,1,90020000,000-0,1,4,82,2181,1791
13807,900083089,9002,9,Ciudad de México,002,2,6,2,8,9,...,2,2,1,90020000,000-0,1,4,82,2181,1791
13808,900083113,9002,9,Ciudad de México,002,2,6,2,8,9,...,2,2,1,90020000,000-0,1,4,82,2181,1791
13809,900168010,9002,9,Ciudad de México,002,1,,,8,9,...,2,2,1,90020000,000-0,1,2,80,2182,1236

Municipality Catalogue file

In [22]:
#Open the Municipality Catalogue
mun_cat = pd.read_csv('./Resources/CATUN_MUNICIPIO.csv', dtype = str)
mun_cat.head()

,cve_ent,nom_ent,nom_abr,cve_mun,nom_mun,cve_cab,nom_cab,Pob_total,Total de viviendas habitadas,Pob_masculina,Pob_femenina
0,01,Aguascalientes,Ags.,001,Aguascalientes,0001,Aguascalientes,797010,202141,386429,410581
1,01,Aguascalientes,Ags.,011,San Francisco de los Romo,0001,San Francisco de los Romo,35769,8477,17578,18191
2,01,Aguascalientes,Ags.,009,Tepezalá,0001,Tepezalá,19668,4446,9600,10068
3,01,Aguascalientes,Ags.,010,El Llano,0001,Palo Alto,18828,4159,9573,9255
4,01,Aguascalientes,Ags.,008,San José de Gracia,0001,San José de Gracia,8443,1899,4043,4400

In [23]:
#Add a column that concatenates entity and municipality codes
mun_cat.insert(4,'cve_ent_mun', mun_cat['cve_ent'].map(str) + mun_cat['cve_mun'].map(str))

In [24]:
mun_cat.head()

,cve_ent,nom_ent,nom_abr,cve_mun,cve_ent_mun,nom_mun,cve_cab,nom_cab,Pob_total,Total de viviendas habitadas,Pob_masculina,Pob_femenina
0,01,Aguascalientes,Ags.,001,01001,Aguascalientes,0001,Aguascalientes,797010,202141,386429,410581
1,01,Aguascalientes,Ags.,011,01011,San Francisco de los Romo,0001,San Francisco de los Romo,35769,8477,17578,18191
2,01,Aguascalientes,Ags.,009,01009,Tepezalá,0001,Tepezalá,19668,4446,9600,10068
3,01,Aguascalientes,Ags.,010,01010,El Llano,0001,Palo Alto,18828,4159,9573,9255
4,01,Aguascalientes,Ags.,008,01008,San José de Gracia,0001,San José de Gracia,8443,1899,4043,4400

In [25]:
# Make a dictionary out of the concatenated codes (cve_ent_mun) and the corresponding municipality name
#mun_list = mun_cat.groupby('cve_ent_mun')['nom_mun'].apply(list)
#mun_dataframe = pd.DataFrame(mun_list)
#mun_dataframe['nom_mun'] =mun_dataframe['nom_mun'].str[0]
#mun_dictionary = mun_dataframe.to_dict() 
#mun_dictionary

In [26]:
# Make a dictionary out of the concatenated codes (cve_ent_mun) and the corresponding municipality name
mun_dict = mun_cat.groupby('cve_ent_mun')['nom_mun'].apply(list).to_dict()
mun_dict

{'01001': ['Aguascalientes'],
 '01002': ['Asientos'],
 '01003': ['Calvillo'],
 '01004': ['Cosío'],
 '01005': ['Jesús María'],
 '01006': ['Pabellón de Arteaga'],
 '01007': ['Rincón de Romos'],
 '01008': ['San José de Gracia'],
 '01009': ['Tepezalá'],
 '01010': ['El Llano'],
 '01011': ['San Francisco de los Romo'],
 '02001': ['Ensenada'],
 '02002': ['Mexicali'],
 '02003': ['Tecate'],
 '02004': ['Tijuana'],
 '02005': ['Playas de Rosarito'],
 '03001': ['Comondú'],
 '03002': ['Mulegé'],
 '03003': ['La Paz'],
 '03008': ['Los Cabos'],
 '03009': ['Loreto'],
 '04001': ['Calkiní'],
 '04002': ['Campeche'],
 '04003': ['Carmen'],
 '04004': ['Champotón'],
 '04005': ['Hecelchakán'],
 '04006': ['Hopelchén'],
 '04007': ['Palizada'],
 '04008': ['Tenabo'],
 '04009': ['Escárcega'],
 '04010': ['Calakmul'],
 '04011': ['Candelaria'],
 '05001': ['Abasolo'],
 '05002': ['Acuña'],
 '05003': ['Allende'],
 '05004': ['Arteaga'],
 '05005': ['Candela'],
 '05006': ['Castaños'],
 '05007': ['Cuatro Ciénegas'],
 '05008': ['Escobedo'],
 '05009': ['Francisco I. Madero'],
 '05010': ['Frontera'],
 '05011': ['General Cepeda'],
 '05012': ['Guerrero'],
 '05013': ['Hidalgo'],
 '05014': ['Jiménez'],
 '05015': ['Juárez'],
 '05016': ['Lamadrid'],
 '05017': ['Matamoros'],
 '05018': ['Monclova'],
 '05019': ['Morelos'],
 '05020': ['Múzquiz'],
 '05021': ['Nadadores'],
 '05022': ['Nava'],
 '05023': ['Ocampo'],
 '05024': ['Parras'],
 '05025': ['Piedras Negras'],
 '05026': ['Progreso'],
 '05027': ['Ramos Arizpe'],
 '05028': ['Sabinas'],
 '05029': ['Sacramento'],
 '05030': ['Saltillo'],
 '05031': ['San Buenaventura'],
 '05032': ['San Juan de Sabinas'],
 '05033': ['San Pedro'],
 '05034': ['Sierra Mojada'],
 '05035': ['Torreón'],
 '05036': ['Viesca'],
 '05037': ['Villa Unión'],
 '05038': ['Zaragoza'],
 '06001': ['Armería'],
 '06002': ['Colima'],
 '06003': ['Comala'],
 '06004': ['Coquimatlán'],
 '06005': ['Cuauhtémoc'],
 '06006': ['Ixtlahuacán'],
 '06007': ['Manzanillo'],
 '06008': ['Minatitlán'],
 '06009': ['Tecomán'],
 '06010': ['Villa de Álvarez'],
 '07001': ['Acacoyagua'],
 '07002': ['Acala'],
 '07003': ['Acapetahua'],
 '07004': ['Altamirano'],
 '07005': ['Amatán'],
 '07006': ['Amatenango de la Frontera'],
 '07007': ['Amatenango del Valle'],
 '07008': ['Angel Albino Corzo'],
 '07009': ['Arriaga'],
 '07010': ['Bejucal de Ocampo'],
 '07011': ['Bella Vista'],
 '07012': ['Berriozábal'],
 '07013': ['Bochil'],
 '07014': ['El Bosque'],
 '07015': ['Cacahoatán'],
 '07016': ['Catazajá'],
 '07017': ['Cintalapa'],
 '07018': ['Coapilla'],
 '07019': ['Comitán de Domínguez'],
 '07020': ['La Concordia'],
 '07021': ['Copainalá'],
 '07022': ['Chalchihuitán'],
 '07023': ['Chamula'],
 '07024': ['Chanal'],
 '07025': ['Chapultenango'],
 '07026': ['Chenalhó'],
 '07027': ['Chiapa de Corzo'],
 '07028': ['Chiapilla'],
 '07029': ['Chicoasén'],
 '07030': ['Chicomuselo'],
 '07031': ['Chilón'],
 '07032': ['Escuintla'],
 '07033': ['Francisco León'],
 '07034': ['Frontera Comalapa'],
 '07035': ['Frontera Hidalgo'],
 '07036': ['La Grandeza'],
 '07037': ['Huehuetán'],
 '07038': ['Huixtán'],
 '07039': ['Huitiupán'],
 '07040': ['Huixtla'],
 '07041': ['La Independencia'],
 '07042': ['Ixhuatán'],
 '07043': ['Ixtacomitán'],
 '07044': ['Ixtapa'],
 '07045': ['Ixtapangajoya'],
 '07046': ['Jiquipilas'],
 '07047': ['Jitotol'],
 '07048': ['Juárez'],
 '07049': ['Larráinzar'],
 '07050': ['La Libertad'],
 '07051': ['Mapastepec'],
 '07052': ['Las Margaritas'],
 '07053': ['Mazapa de Madero'],
 '07054': ['Mazatán'],
 '07055': ['Metapa'],
 '07056': ['Mitontic'],
 '07057': ['Motozintla'],
 '07058': ['Nicolás Ruíz'],
 '07059': ['Ocosingo'],
 '07060': ['Ocotepec'],
 '07061': ['Ocozocoautla de Espinosa'],
 '07062': ['Ostuacán'],
 '07063': ['Osumacinta'],
 '07064': ['Oxchuc'],
 '07065': ['Palenque'],
 '07066': ['Pantelhó'],
 '07067': ['Pantepec'],
 '07068': ['Pichucalco'],
 '07069': ['Pijijiapan'],
 '07070': ['El Porvenir'],
 '07071': ['Villa Comaltitlán'],
 '07072': ['Pueblo Nuevo Solistahuacán'],
 '07073': ['Rayón'],
 '07074': ['Reforma'],
 '07075': ['Las Rosas'],
 '07076': ['Sabanilla'],
 '07077': ['Salto de Agua'],
 '07078': ['San Cristóbal de las Casas'],
 '07079': ['San Fernando'],
 '07080': ['Siltepec'],
 '07081': ['Simojovel'],
 '07082': ['Sitalá'],
 '07083': ['Socoltenango'],
 '07084': ['Solosuchiapa'],
 '07085': ['Soyaló'],
 '07086': ['Suchiapa'],
 '07087': ['Suchiate'],
 '07088': ['Sunuapa'],
 '07089': ['Tapachula'],
 '07090': ['Tapalapa'],
 '07091': ['Tapilula'],
 '07092': ['Tecpatán'],
 '07093': ['Tenejapa'],
 '07094': ['Teopisca'],
 '07096': ['Tila'],
 '07097': ['Tonalá'],
 '07098': ['Totolapa'],
 '07099': ['La Trinitaria'],
 '07100': ['Tumbalá'],
 '07101': ['Tuxtla Gutiérrez'],
 '07102': ['Tuxtla Chico'],
 '07103': ['Tuzantán'],
 '07104': ['Tzimol'],
 '07105': ['Unión Juárez'],
 '07106': ['Venustiano Carranza'],
 '07107': ['Villa Corzo'],
 '07108': ['Villaflores'],
 '07109': ['Yajalón'],
 '07110': ['San Lucas'],
 '07111': ['Zinacantán'],
 '07112': ['San Juan Cancuc'],
 '07113': ['Aldama'],
 '07114': ['Benemérito de las Américas'],
 '07115': ['Maravilla Tenejapa'],
 '07116': ['Marqués de Comillas'],
 '07117': ['Montecristo de Guerrero'],
 '07118': ['San Andrés Duraznal'],
 '07119': ['Santiago el Pinar'],
 '07120': ['Capitán Luis Ángel Vidal'],
 '07121': ['Rincón Chamula San Pedro'],
 '07122': ['El Parral'],
 '07123': ['Emiliano Zapata'],
 '07124': ['Mezcalapa'],
 '08001': ['Ahumada'],
 '08002': ['Aldama'],
 '08003': ['Allende'],
 '08004': ['Aquiles Serdán'],
 '08005': ['Ascensión'],
 '08006': ['Bachíniva'],
 '08007': ['Balleza'],
 '08008': ['Batopilas de Manuel Gómez Morín'],
 '08009': ['Bocoyna'],
 '08010': ['Buenaventura'],
 '08011': ['Camargo'],
 '08012': ['Carichí'],
 '08013': ['Casas Grandes'],
 '08014': ['Coronado'],
 '08015': ['Coyame del Sotol'],
 '08016': ['La Cruz'],
 '08017': ['Cuauhtémoc'],
 '08018': ['Cusihuiriachi'],
 '08019': ['Chihuahua'],
 '08020': ['Chínipas'],
 '08021': ['Delicias'],
 '08022': ['Dr. Belisario Domínguez'],
 '08023': ['Galeana'],
 '08024': ['Santa Isabel'],
 '08025': ['Gómez Farías'],
 '08026': ['Gran Morelos'],
 '08027': ['Guachochi'],
 '08028': ['Guadalupe'],
 '08029': ['Guadalupe y Calvo'],
 '08030': ['Guazapares'],
 '08031': ['Guerrero'],
 '08032': ['Hidalgo del Parral'],
 '08033': ['Huejotitán'],
 '08034': ['Ignacio Zaragoza'],
 '08035': ['Janos'],
 '08036': ['Jiménez'],
 '08037': ['Juárez'],
 '08038': ['Julimes'],
 '08039': ['López'],
 '08040': ['Madera'],
 '08041': ['Maguarichi'],
 '08042': ['Manuel Benavides'],
 '08043': ['Matachí'],
 '08044': ['Matamoros'],
 '08045': ['Meoqui'],
 '08046': ['Morelos'],
 '08047': ['Moris'],
 '08048': ['Namiquipa'],
 '08049': ['Nonoava'],
 '08050': ['Nuevo Casas Grandes'],
 '08051': ['Ocampo'],
 '08052': ['Ojinaga'],
 '08053': ['Praxedis G. Guerrero'],
 '08054': ['Riva Palacio'],
 '08055': ['Rosales'],
 '08056': ['Rosario'],
 '08057': ['San Francisco de Borja'],
 '08058': ['San Francisco de Conchos'],
 '08059': ['San Francisco del Oro'],
 '08060': ['Santa Bárbara'],
 '08061': ['Satevó'],
 '08062': ['Saucillo'],
 '08063': ['Temósachic'],
 '08064': ['El Tule'],
 '08065': ['Urique'],
 '08066': ['Uruachi'],
 '08067': ['Valle de Zaragoza'],
 '10001': ['Canatlán'],
 '10002': ['Canelas'],
 '10003': ['Coneto de Comonfort'],
 '10004': ['Cuencamé'],
 '10005': ['Durango'],
 '10006': ['General Simón Bolívar'],
 '10007': ['Gómez Palacio'],
 '10008': ['Guadalupe Victoria'],
 '10009': ['Guanaceví'],
 '10010': ['Hidalgo'],
 '10011': ['Indé'],
 '10012': ['Lerdo'],
 '10013': ['Mapimí'],
 '10014': ['Mezquital'],
 '10015': ['Nazas'],
 '10016': ['Nombre de Dios'],
 '10017': ['Ocampo'],
 '10018': ['El Oro'],
 '10019': ['Otáez'],
 '10020': ['Pánuco de Coronado'],
 '10021': ['Peñón Blanco'],
 '10022': ['Poanas'],
 '10023': ['Pueblo Nuevo'],
 '10024': ['Rodeo'],
 '10025': ['San Bernardo'],
 '10026': ['San Dimas'],
 '10027': ['San Juan de Guadalupe'],
 '10028': ['San Juan del Río'],
 '10029': ['San Luis del Cordero'],
 '10030': ['San Pedro del Gallo'],
 '10031': ['Santa Clara'],
 '10032': ['Santiago Papasquiaro'],
 '10033': ['Súchil'],
 '10034': ['Tamazula'],
 '10035': ['Tepehuanes'],
 '10036': ['Tlahualilo'],
 '10037': ['Topia'],
 '10038': ['Vicente Guerrero'],
 '10039': ['Nuevo Ideal'],
 '11001': ['Abasolo'],
 '11002': ['Acámbaro'],
 '11003': ['San Miguel de Allende'],
 '11004': ['Apaseo el Alto'],
 '11005': ['Apaseo el Grande'],
 '11006': ['Atarjea'],
 '11007': ['Celaya'],
 '11008': ['Manuel Doblado'],
 '11009': ['Comonfort'],
 '11010': ['Coroneo'],
 '11011': ['Cortazar'],
 '11012': ['Cuerámaro'],
 '11013': ['Doctor Mora'],
 '11014': ['Dolores Hidalgo Cuna de la Independencia Nacional'],
 '11015': ['Guanajuato'],
 '11016': ['Huanímaro'],
 '11017': ['Irapuato'],
 '11018': ['Jaral del Progreso'],
 '11019': ['Jerécuaro'],
 '11020': ['León'],
 '11021': ['Moroleón'],
 '11022': ['Ocampo'],
 '11023': ['Pénjamo'],
 '11024': ['Pueblo Nuevo'],
 '11025': ['Purísima del Rincón'],
 '11026': ['Romita'],
 '11027': ['Salamanca'],
 '11028': ['Salvatierra'],
 '11029': ['San Diego de la Unión'],
 '11030': ['San Felipe'],
 '11031': ['San Francisco del Rincón'],
 '11032': ['San José Iturbide'],
 '11033': ['San Luis de la Paz'],
 '11034': ['Santa Catarina'],
 '11035': ['Santa Cruz de Juventino Rosas'],
 '11036': ['Santiago Maravatío'],
 '11037': ['Silao de la Victoria'],
 '11038': ['Tarandacuao'],
 '11039': ['Tarimoro'],
 '11040': ['Tierra Blanca'],
 '11041': ['Uriangato'],
 '11042': ['Valle de Santiago'],
 '11043': ['Victoria'],
 '11044': ['Villagrán'],
 '11045': ['Xichú'],
 '11046': ['Yuriria'],
 '12001': ['Acapulco de Juárez'],
 '12002': ['Ahuacuotzingo'],
 '12003': ['Ajuchitlán del Progreso'],
 '12004': ['Alcozauca de Guerrero'],
 '12005': ['Alpoyeca'],
 '12006': ['Apaxtla'],
 '12007': ['Arcelia'],
 '12008': ['Atenango del Río'],
 '12009': ['Atlamajalcingo del Monte'],
 '12010': ['Atlixtac'],
 '12011': ['Atoyac de Álvarez'],
 '12012': ['Ayutla de los Libres'],
 '12013': ['Azoyú'],
 '12014': ['Benito Juárez'],
 '12015': ['Buenavista de Cuéllar'],
 '12016': ['Coahuayutla de José María Izazaga'],
 '12017': ['Cocula'],
 '12018': ['Copala'],
 '12019': ['Copalillo'],
 '12020': ['Copanatoyac'],
 '12021': ['Coyuca de Benítez'],
 '12022': ['Coyuca de Catalán'],
 '12023': ['Cuajinicuilapa'],
 '12024': ['Cualác'],
 '12025': ['Cuautepec'],
 '12026': ['Cuetzala del Progreso'],
 '12027': ['Cutzamala de Pinzón'],
 '12028': ['Chilapa de Álvarez'],
 '12029': ['Chilpancingo de los Bravo'],
 '12030': ['Florencio Villarreal'],
 '12031': ['General Canuto A. Neri'],
 '12032': ['General Heliodoro Castillo'],
 '12033': ['Huamuxtitlán'],
 '12034': ['Huitzuco de los Figueroa'],
 '12035': ['Iguala de la Independencia'],
 '12036': ['Igualapa'],
 '12037': ['Ixcateopan de Cuauhtémoc'],
 '12038': ['Zihuatanejo de Azueta'],
 '12039': ['Juan R. Escudero'],
 '12040': ['Leonardo Bravo'],
 '12041': ['Malinaltepec'],
 '12042': ['Mártir de Cuilapan'],
 '12043': ['Metlatónoc'],
 '12044': ['Mochitlán'],
 '12045': ['Olinalá'],
 '12046': ['Ometepec'],
 '12047': ['Pedro Ascencio Alquisiras'],
 '12048': ['Petatlán'],
 '12049': ['Pilcaya'],
 '12050': ['Pungarabato'],
 '12051': ['Quechultenango'],
 '12052': ['San Luis Acatlán'],
 '12053': ['San Marcos'],
 '12054': ['San Miguel Totolapan'],
 '12055': ['Taxco de Alarcón'],
 '12056': ['Tecoanapa'],
 '12057': ['Técpan de Galeana'],
 '12058': ['Teloloapan'],
 '12059': ['Tepecoacuilco de Trujano'],
 '12060': ['Tetipac'],
 '12061': ['Tixtla de Guerrero'],
 '12062': ['Tlacoachistlahuaca'],
 '12063': ['Tlacoapa'],
 '12064': ['Tlalchapa'],
 '12065': ['Tlalixtaquilla de Maldonado'],
 '12066': ['Tlapa de Comonfort'],
 '12067': ['Tlapehuala'],
 '12068': ['La Unión de Isidoro Montes de Oca'],
 '12069': ['Xalpatláhuac'],
 '12070': ['Xochihuehuetlán'],
 '12071': ['Xochistlahuaca'],
 '12072': ['Zapotitlán Tablas'],
 '12073': ['Zirándaro'],
 '12074': ['Zitlala'],
 '12075': ['Eduardo Neri'],
 '12076': ['Acatepec'],
 '12077': ['Marquelia'],
 '12078': ['Cochoapa el Grande'],
 '12079': ['José Joaquín de Herrera'],
 '12080': ['Juchitán'],
 '12081': ['Iliatenco'],
 '13001': ['Acatlán'],
 '13002': ['Acaxochitlán'],
 '13003': ['Actopan'],
 '13004': ['Agua Blanca de Iturbide'],
 '13005': ['Ajacuba'],
 '13006': ['Alfajayucan'],
 '13007': ['Almoloya'],
 '13008': ['Apan'],
 '13009': ['El Arenal'],
 '13010': ['Atitalaquia'],
 '13011': ['Atlapexco'],
 '13012': ['Atotonilco el Grande'],
 '13013': ['Atotonilco de Tula'],
 '13014': ['Calnali'],
 '13015': ['Cardonal'],
 '13016': ['Cuautepec de Hinojosa'],
 '13017': ['Chapantongo'],
 '13018': ['Chapulhuacán'],
 '13019': ['Chilcuautla'],
 '13020': ['Eloxochitlán'],
 '13021': ['Emiliano Zapata'],
 '13022': ['Epazoyucan'],
 '13023': ['Francisco I. Madero'],
 '13024': ['Huasca de Ocampo'],
 '13025': ['Huautla'],
 '13026': ['Huazalingo'],
 '13027': ['Huehuetla'],
 '13028': ['Huejutla de Reyes'],
 '13029': ['Huichapan'],
 '13030': ['Ixmiquilpan'],
 '13031': ['Jacala de Ledezma'],
 '13032': ['Jaltocán'],
 '13033': ['Juárez Hidalgo'],
 '13034': ['Lolotla'],
 '13035': ['Metepec'],
 '13036': ['San Agustín Metzquititlán'],
 '13037': ['Metztitlán'],
 '13038': ['Mineral del Chico'],
 '13039': ['Mineral del Monte'],
 '13040': ['La Misión'],
 '13041': ['Mixquiahuala de Juárez'],
 '13042': ['Molango de Escamilla'],
 '13043': ['Nicolás Flores'],
 '13044': ['Nopala de Villagrán'],
 '13045': ['Omitlán de Juárez'],
 '13046': ['San Felipe Orizatlán'],
 '13047': ['Pacula'],
 '13048': ['Pachuca de Soto'],
 '13049': ['Pisaflores'],
 '13050': ['Progreso de Obregón'],
 '13051': ['Mineral de la Reforma'],
 '13052': ['San Agustín Tlaxiaca'],
 '13053': ['San Bartolo Tutotepec'],
 '13054': ['San Salvador'],
 '13055': ['Santiago de Anaya'],
 '13056': ['Santiago Tulantepec de Lugo Guerrero'],
 '13057': ['Singuilucan'],
 '13058': ['Tasquillo'],
 '13059': ['Tecozautla'],
 '13060': ['Tenango de Doria'],
 '13061': ['Tepeapulco'],
 '13062': ['Tepehuacán de Guerrero'],
 '13063': ['Tepeji del Río de Ocampo'],
 '13064': ['Tepetitlán'],
 '13065': ['Tetepango'],
 '13066': ['Villa de Tezontepec'],
 '13067': ['Tezontepec de Aldama'],
 '13068': ['Tianguistengo'],
 '13069': ['Tizayuca'],
 '13070': ['Tlahuelilpan'],
 '13071': ['Tlahuiltepa'],
 '13072': ['Tlanalapa'],
 '13073': ['Tlanchinol'],
 '13074': ['Tlaxcoapan'],
 '13075': ['Tolcayuca'],
 '13076': ['Tula de Allende'],
 '13077': ['Tulancingo de Bravo'],
 '13078': ['Xochiatipan'],
 '13079': ['Xochicoatlán'],
 '13080': ['Yahualica'],
 '13081': ['Zacualtipán de Ángeles'],
 '13082': ['Zapotlán de Juárez'],
 '13083': ['Zempoala'],
 '13084': ['Zimapán'],
 '14001': ['Acatic'],
 '14002': ['Acatlán de Juárez'],
 '14003': ['Ahualulco de Mercado'],
 '14004': ['Amacueca'],
 '14005': ['Amatitán'],
 '14006': ['Ameca'],
 '14007': ['San Juanito de Escobedo'],
 '14008': ['Arandas'],
 '14009': ['El Arenal'],
 '14010': ['Atemajac de Brizuela'],
 '14011': ['Atengo'],
 '14012': ['Atenguillo'],
 '14013': ['Atotonilco el Alto'],
 '14014': ['Atoyac'],
 '14015': ['Autlán de Navarro'],
 '14016': ['Ayotlán'],
 '14017': ['Ayutla'],
 '14018': ['La Barca'],
 '14019': ['Bolaños'],
 '14020': ['Cabo Corrientes'],
 '14021': ['Casimiro Castillo'],
 '14022': ['Cihuatlán'],
 '14023': ['Zapotlán el Grande'],
 '14024': ['Cocula'],
 '14025': ['Colotlán'],
 '14026': ['Concepción de Buenos Aires'],
 '14027': ['Cuautitlán de García Barragán'],
 '14028': ['Cuautla'],
 '14029': ['Cuquío'],
 '14030': ['Chapala'],
 '14031': ['Chimaltitán'],
 '14032': ['Chiquilistlán'],
 '14033': ['Degollado'],
 '14034': ['Ejutla'],
 '14035': ['Encarnación de Díaz'],
 '14036': ['Etzatlán'],
 '14037': ['El Grullo'],
 '14038': ['Guachinango'],
 '14039': ['Guadalajara'],
 '14040': ['Hostotipaquillo'],
 '14041': ['Huejúcar'],
 '14042': ['Huejuquilla el Alto'],
 '14043': ['La Huerta'],
 '14044': ['Ixtlahuacán de los Membrillos'],
 '14045': ['Ixtlahuacán del Río'],
 '14046': ['Jalostotitlán'],
 '14047': ['Jamay'],
 '14048': ['Jesús María'],
 '14049': ['Jilotlán de los Dolores'],
 '14050': ['Jocotepec'],
 '14051': ['Juanacatlán'],
 '14052': ['Juchitlán'],
 '14053': ['Lagos de Moreno'],
 '14054': ['El Limón'],
 '14055': ['Magdalena'],
 '14056': ['Santa María del Oro'],
 '14057': ['La Manzanilla de la Paz'],
 '14058': ['Mascota'],
 '14059': ['Mazamitla'],
 '14060': ['Mexticacán'],
 '14061': ['Mezquitic'],
 '14062': ['Mixtlán'],
 '14063': ['Ocotlán'],
 '14064': ['Ojuelos de Jalisco'],
 '14065': ['Pihuamo'],
 '14066': ['Poncitlán'],
 '14067': ['Puerto Vallarta'],
 '14068': ['Villa Purificación'],
 '14069': ['Quitupan'],
 '14070': ['El Salto'],
 '14071': ['San Cristóbal de la Barranca'],
 '14072': ['San Diego de Alejandría'],
 '14073': ['San Juan de los Lagos'],
 '14074': ['San Julián'],
 '14075': ['San Marcos'],
 '14076': ['San Martín de Bolaños'],
 '14077': ['San Martín Hidalgo'],
 '14078': ['San Miguel el Alto'],
 '14079': ['Gómez Farías'],
 '14080': ['San Sebastián del Oeste'],
 '14081': ['Santa María de los Ángeles'],
 '14082': ['Sayula'],
 '14083': ['Tala'],
 '14084': ['Talpa de Allende'],
 '14085': ['Tamazula de Gordiano'],
 '14086': ['Tapalpa'],
 '14087': ['Tecalitlán'],
 '14088': ['Tecolotlán'],
 '14089': ['Techaluta de Montenegro'],
 '14090': ['Tenamaxtlán'],
 '14091': ['Teocaltiche'],
 '14092': ['Teocuitatlán de Corona'],
 '14093': ['Tepatitlán de Morelos'],
 '14094': ['Tequila'],
 '14095': ['Teuchitlán'],
 '14096': ['Tizapán el Alto'],
 '14097': ['Tlajomulco de Zúñiga'],
 '14098': ['San Pedro Tlaquepaque'],
 '14099': ['Tolimán'],
 '14100': ['Tomatlán'],
 '14101': ['Tonalá'],
 '14102': ['Tonaya'],
 '14103': ['Tonila'],
 '14104': ['Totatiche'],
 '14105': ['Tototlán'],
 '14106': ['Tuxcacuesco'],
 '14107': ['Tuxcueca'],
 '14108': ['Tuxpan'],
 '14109': ['Unión de San Antonio'],
 '14110': ['Unión de Tula'],
 '14111': ['Valle de Guadalupe'],
 '14112': ['Valle de Juárez'],
 '14113': ['San Gabriel'],
 '14114': ['Villa Corona'],
 '14115': ['Villa Guerrero'],
 '14116': ['Villa Hidalgo'],
 '14117': ['Cañadas de Obregón'],
 '14118': ['Yahualica de González Gallo'],
 '14119': ['Zacoalco de Torres'],
 '14120': ['Zapopan'],
 '14121': ['Zapotiltic'],
 '14122': ['Zapotitlán de Vadillo'],
 '14123': ['Zapotlán del Rey'],
 '14124': ['Zapotlanejo'],
 '14125': ['San Ignacio Cerro Gordo'],
 '15001': ['Acambay de Ruíz Castañeda'],
 '15002': ['Acolman'],
 '15003': ['Aculco'],
 '15004': ['Almoloya de Alquisiras'],
 '15005': ['Almoloya de Juárez'],
 '15006': ['Almoloya del Río'],
 '15007': ['Amanalco'],
 '15008': ['Amatepec'],
 '15009': ['Amecameca'],
 '15010': ['Apaxco'],
 '15011': ['Atenco'],
 '15012': ['Atizapán'],
 '15013': ['Atizapán de Zaragoza'],
 '15014': ['Atlacomulco'],
 '15015': ['Atlautla'],
 '15016': ['Axapusco'],
 '15017': ['Ayapango'],
 '15018': ['Calimaya'],
 '15019': ['Capulhuac'],
 '15020': ['Coacalco de Berriozábal'],
 '15021': ['Coatepec Harinas'],
 '15022': ['Cocotitlán'],
 '15023': ['Coyotepec'],
 '15024': ['Cuautitlán'],
 '15025': ['Chalco'],
 '15026': ['Chapa de Mota'],
 '15027': ['Chapultepec'],
 '15028': ['Chiautla'],
 '15029': ['Chicoloapan'],
 '15030': ['Chiconcuac'],
 '15031': ['Chimalhuacán'],
 '15032': ['Donato Guerra'],
 '15033': ['Ecatepec de Morelos'],
 '15034': ['Ecatzingo'],
 '15035': ['Huehuetoca'],
 '15036': ['Hueypoxtla'],
 '15037': ['Huixquilucan'],
 '15038': ['Isidro Fabela'],
 '15039': ['Ixtapaluca'],
 '15040': ['Ixtapan de la Sal'],
 '15041': ['Ixtapan del Oro'],
 '15042': ['Ixtlahuaca'],
 '15043': ['Xalatlaco'],
 '15044': ['Jaltenco'],
 '15045': ['Jilotepec'],
 '15046': ['Jilotzingo'],
 '15047': ['Jiquipilco'],
 '15048': ['Jocotitlán'],
 '15049': ['Joquicingo'],
 '15050': ['Juchitepec'],
 '15051': ['Lerma'],
 '15052': ['Malinalco'],
 '15053': ['Melchor Ocampo'],
 '15054': ['Metepec'],
 '15055': ['Mexicaltzingo'],
 '15056': ['Morelos'],
 '15057': ['Naucalpan de Juárez'],
 '15058': ['Nezahualcóyotl'],
 '15059': ['Nextlalpan'],
 '15060': ['Nicolás Romero'],
 '15061': ['Nopaltepec'],
 '15062': ['Ocoyoacac'],
 '15063': ['Ocuilan'],
 '15064': ['El Oro'],
 '15065': ['Otumba'],
 '15066': ['Otzoloapan'],
 '15067': ['Otzolotepec'],
 '15068': ['Ozumba'],
 '15069': ['Papalotla'],
 '15070': ['La Paz'],

In [27]:
#Add the column for municipality_name
viv_mega_df.insert(5,'municipality_name',viv_mega_df.cve_ent_mun.map(mun_dict))

In [28]:
viv_mega_df['municipality_name']= viv_mega_df['municipality_name'].str[0]

In [29]:
viv_mega_df.head()

,folioviv,cve_ent_mun,state,state_name,municipality,municipality_name,tipo_viv,condominio,elevador,mat_pared,...,tv_paga,auto_pick,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor
13805,900083044,9002,9,Ciudad de México,002,Azcapotzalco,2,6,2,8,...,1,1,1,90020000,000-0,1,4,82,2181,1791
13806,900083065,9002,9,Ciudad de México,002,Azcapotzalco,2,5,2,8,...,2,2,1,90020000,000-0,1,4,82,2181,1791
13807,900083089,9002,9,Ciudad de México,002,Azcapotzalco,2,6,2,8,...,2,2,1,90020000,000-0,1,4,82,2181,1791
13808,900083113,9002,9,Ciudad de México,002,Azcapotzalco,2,6,2,8,...,2,2,1,90020000,000-0,1,4,82,2181,1791
13809,900168010,9002,9,Ciudad de México,002,Azcapotzalco,1,,,8,...,2,2,1,90020000,000-0,1,2,80,2182,1236

## Variables chosen for the project:
-	tipo_viv: Tipo de vivienda C (1)
-	num_cuarto: Número de cuartos N (2)
-	disp_agua: Disponibilidad de agua C (1)
-	excusado: Tiene excusado C (1)
-	drenaje: Destino de drenaje C (1)
-	disp_elect: Disponibilidad eléctrica C (1)
-	tanque_gas: Dispone de tanque de gas
-	estacionario C (1)
-	tenencia: Tipo de tenencia de la vivienda C (1)
-	pago_renta: Pago de renta de vivienda N (5)
-	anio_res: Años residiendo en la vivienda N (2)
-	computador: Disponibilidad de computadora C (1)
-	tel_fijo: Disponibilidad de línea telefónica fija C (1)
-	celular: Disponibilidad de teléfono celular C (1)
-	internet: Disponibilidad de internet C (1)
-	tv_paga: Disponibilidad de servicio de
-	televisión de paga C (1)
-	auto_pick: Disponibilidad de automóvil propio C (1)
-	tot_hog: Total de hogares en la vivienda N (2)

In [30]:
# APARTADO A. RESIDENTES E IDENTIFICACIÓN DE HOGARES EN LA VIVIENDA
# 1. Esta vivienda es:  1 Casa independiente  2 Departamento en condominio vertical
# 3 Vivienda en vecindad 4 Vivienda en cuarto de azotea 5 Local no construido para habitación

viv_mega_df.groupby('state')['tipo_viv'].value_counts()

state  tipo_viv
9      1           1184
       2            550
       3             33
       4              5
       &              4
13     1           1671
       2             42
       3              6
       &              2
15     1           1678
       2             97
       3             52
       &              1
17     1           1511
       2             93
       3             22
       &              5
       5              1
21     1           1543
       2            104
       3             46
       &              2
       4              2
22     1           1734
       2             76
       3             16
       &              4
29     1           1727
       2             79
       5              3
       3              2
Name: tipo_viv, dtype: int64

In [31]:
# APARTADO A. RESIDENTES E IDENTIFICACIÓN DE HOGARES EN LA VIVIENDA
#¿Cuántos cuartos tiene en total esta vivienda, contando la cocina? 
#(No cuente pasillos ni baños) ANOTE EL NÚMERO

viv_mega_df.groupby('state')['num_cuarto'].value_counts()

state  num_cuarto
9      4             503
       5             364
       3             347
       6             168
       2             162
       1             102
       7              67
       8              25
       9              19
       10             11
       11              4
       12              3
       15              1
13     4             478
       5             349
       3             348
       2             201
       6             155
       7              65
       1              64
       8              33
       9              14
       10             10
       11              1
       12              1
       13              1
       14              1
15     4             465
       3             341
       5             338
                    ...
21     8              27
       9               7
       10              7
       11              2
       12              1
22     4             486
       3             377
       5             354
       2             197
       6             192
       7              77
       1              73
       8              42
       10             15
       9              12
       11              2
       12              2
       13              1
29     4             490
       3             405
       5             310
       2             213
       6             175
       1              84
       7              71
       8              40
       10             11
       9               6
       11              4
       12              2
Name: num_cuarto, Length: 87, dtype: int64

In [32]:
#¿En esta vivienda tienen... 1. agua entubada dentro de la vivienda?. 2.agua entubada fuera de la vivienda, pero dentro del terreno?
#3.agua entubada de llave pública (o hidrante)? 4. agua entubada que acarrean de otra vivienda?
#5.agua de pipa? 6. agua de un pozo, río, lago, arroyo u otra?
viv_mega_df.groupby('state')['disp_agua'].value_counts()

state  disp_agua
9      1            1561
       2             197
       5              13
       3               4
       4               1
13     1            1079
       2             505
       6              61
       5              47
       4              27
       3               2
15     1            1265
       2             500
       5              37
       4              19
       6               7
17     1            1098
       2             432
       5              42
       6              32
       4              24
       3               4
21     1             967
       2             630
       6              45
       5              33
       4              19
       3               3
22     1            1363
       2             394
       4              37
       5              23
       6              10
       3               3
29     1            1158
       2             604
       6              26
       4              22
       5               1
Name: disp_agua, dtype: int64

In [33]:
# 12. ¿Tienen excusado, retrete, sanitario, letrina u hoyo negro? 1.SI 2.NO
viv_mega_df.groupby('state')['excusado'].value_counts()

state  excusado
9      1           1771
       2              5
13     1           1626
       2             95
15     1           1799
       2             29
17     1           1615
       2             17
21     1           1659
       2             38
22     1           1744
       2             86
29     1           1718
       2             93
Name: excusado, dtype: int64

In [34]:
#16 ¿Esta vivienda tiene drenaje o desagüe conectado a... 1. la red pública? 2. una fosa séptica?
# 3.una tubería que va a dar a una barranca o grieta? 4. una tubería que va a dar a un río, lago o mar?.
# 5.¿No tiene drenaje?
viv_mega_df.groupby('state')['drenaje'].value_counts()

state  drenaje
9      1          1658
       2           100
       3            16
       5             2
13     1          1153
       2           447
       5            92
       3            16
       4            13
15     1          1589
       2           174
       5            31
       3            26
       4             8
17     1          1068
       2           524
       3            21
       5            16
       4             3
21     1          1325
       2           301
       5            59
       3            11
       4             1
22     1          1503
       2           234
       5            82
       3            11
29     1          1664
       5            58
       2            53
       3            32
       4             4
Name: drenaje, dtype: int64

In [35]:
#17. ¿En esta vivienda, la luz eléctrica la obtienen... 1. del servicio público? 2. de una planta particular?
# 3. de panel solar? 4.de otra fuente? 5.¿No tiene luz eléctrica?
viv_mega_df.groupby('state')['disp_elect'].value_counts()

state  disp_elect
9      1             1776
13     1             1711
       5                9
       4                1
15     1             1826
       3                1
       5                1
17     1             1629
       4                2
       3                1
21     1             1689
       5                7
       4                1
22     1             1819
       5                7
       3                4
29     1             1806
       5                4
       2                1
Name: disp_elect, dtype: int64

In [36]:
#22. ¿Esta vivienda tiene...
#tanque de gas estacionario? 1.SI 2.NO
viv_mega_df.groupby('state')['tanque_gas'].value_counts()

state  tanque_gas
9      2             1246
       1              530
13     2             1447
       1              274
15     2             1468
       1              360
17     2             1452
       1              180
21     2             1473
       1              224
22     2             1595
       1              235
29     2             1513
       1              298
Name: tanque_gas, dtype: int64

In [37]:
# APARTADO D. CARACTERÍSTICAS DE LA VIVIENDA (Sólo para el hogar principal)
# 28. ¿Esta vivienda...1 es rentada?   2 es prestada?   3 es propia pero la están pagando?
# 4 es propia?   5 está intestada o en litigio?   6 ¿Otra situación?
viv_mega_df.groupby('state')['tenencia'].value_counts()

state  tenencia
9      4            776
       1            400
       2            370
       3            117
       5            102
       6             11
13     4           1074
       2            289
       1            138
       3             96
       5             63
       6             61
15     4           1047
       2            340
       1            266
       3            120
       5             49
       6              6
17     4            870
       2            389
       1            221
       5             83
       3             61
       6              8
21     4            846
       2            400
       1            216
       3            109
       5            109
       6             17
22     4            875
       2            377
       1            282
       3            158
       5             97
       6             41
29     4           1217
       2            256
       1            169
       3            126
       5             43
Name: tenencia, dtype: int64

In [38]:
# APARTADO D. CARACTERÍSTICAS DE LA VIVIENDA (Sólo para el hogar principal)
# 29. ¿Cuánto se paga mensualmente por la renta de esta vivienda?
# Create a new data frame with less columns to make bins
renta_mega = viv_mega_df.loc[:, ["folioviv", "state", "pago_renta"]]
renta_mega['renta'] = renta_mega['pago_renta'].str.strip()
renta_mega['renta'] = renta_mega['renta'].apply(pd.to_numeric, args=('coerce',))

In [39]:
# 29. ¿Cuánto se paga mensualmente por la renta de esta vivienda?
# Define the bins to group the data by range
bins = [0, 1000, 5000, 7500, 10000, 20000, 30000]

# Create the names for the bins
group_names = ["<1000", "1000-5000", "5000-7500", "7500-10000", "10000-20000", ">20000"]

# Create df with the bins
renta_mega["gpo_renta"] = pd.cut(renta_mega['renta'], bins, labels=group_names)

renta_mega.groupby('state')['gpo_renta'].value_counts()

state  gpo_renta
9      1000-5000      270
       5000-7500       43
       <1000           31
       10000-20000     26
       7500-10000      19
       >20000           6
13     1000-5000       87
       <1000           49
       5000-7500        1
       7500-10000       1
15     1000-5000      189
       <1000           66
       5000-7500        5
       7500-10000       4
       10000-20000      2
17     1000-5000      140
       <1000           75
       5000-7500        3
       7500-10000       2
       10000-20000      1
21     1000-5000      136
       <1000           70
       5000-7500        6
       10000-20000      2
       7500-10000       2
22     1000-5000      197
       <1000           35
       5000-7500       25
       7500-10000      15
       10000-20000     10
29     <1000           86
       1000-5000       82
       7500-10000       1
Name: gpo_renta, dtype: int64

In [40]:
#¿Por cuánto tiempo ha rentado esta vivienda? 
viv_mega_df.groupby('state')['anio_res'].value_counts()

state  anio_res
9                  1376
       0             68
       1             60
       3             47
       2             44
       5             35
       4             24
       10            20
       15            16
       7             12
       6             10
       8             10
       30             7
       16             5
       17             5
       20             5
       12             4
       13             3
       19             3
       25             3
       9              3
       14             2
       32             2
       35             2
       40             2
       47             2
       18             1
       27             1
       28             1
       29             1
                   ...
22     4             16
       5             16
       6             12
       8              9
       7              5
       10             2
       9              2
       12             1
       14             1
       16             1
       17             1
       18             1
       28             1
29                 1642
       0             46
       1             31
       2             23
       3             17
       5             15
       4             12
       6              5
       7              5
       11             3
       8              3
       10             2
       12             2
       13             2
       15             1
       37             1
       9              1
Name: anio_res, Length: 148, dtype: int64

In [41]:
#¿En esta vivienda tienen...   1 SI    2  NO
viv_mega_df.groupby('state')['computador'].value_counts()

state  computador
9      1              970
       2              806
13     2             1232
       1              489
15     2             1178
       1              650
17     2             1087
       1              545
21     2             1198
       1              499
22     2             1065
       1              765
29     2             1300
       1              511
Name: computador, dtype: int64

In [42]:
#¿En esta vivienda tienen...
viv_mega_df.groupby('state')['tel_fijo'].value_counts()

state  tel_fijo
9      1           1226
       2            550
13     2           1301
       1            420
15     2            986
       1            842
17     2            889
       1            743
21     2           1182
       1            515
22     2           1159
       1            671
29     2           1344
       1            467
Name: tel_fijo, dtype: int64

In [43]:
#¿En esta vivienda tienen...
viv_mega_df.groupby('state')['celular'].value_counts()

state  celular
9      1          1643
       2           133
13     1          1424
       2           297
15     1          1668
       2           160
17     1          1435
       2           197
21     1          1391
       2           306
22     1          1668
       2           162
29     1          1613
       2           198
Name: celular, dtype: int64

In [44]:
#¿En esta vivienda tienen...
viv_mega_df.groupby('state')['internet'].value_counts()

state  internet
9      1           1281
       2            495
13     2           1257
       1            464
15     2           1011
       1            817
17     2            868
       1            764
21     2           1145
       1            552
22     2            953
       1            877
29     2           1310
       1            501
Name: internet, dtype: int64

In [45]:
#¿En esta vivienda tienen...
viv_mega_df.groupby('state')['tv_paga'].value_counts()

state  tv_paga
9      2           964
       1           812
13     2           872
       1           849
15     2          1172
       1           656
17     2           909
       1           723
21     2          1049
       1           648
22     1          1082
       2           748
29     2           946
       1           865
Name: tv_paga, dtype: int64

In [46]:
#¿En esta vivienda tienen...
viv_mega_df.groupby('state')['auto_pick'].value_counts()

state  auto_pick
9      2             992
       1             784
13     2            1082
       1             639
15     2            1116
       1             712
17     2            1002
       1             630
21     2            1144
       1             553
22     1             979
       2             851
29     2            1167
       1             644
Name: auto_pick, dtype: int64

In [47]:
#¿Cuántos hogares o grupos de personas tienen gasto separado para comer contando el de usted?
viv_mega_df.groupby('state')['tot_hog'].value_counts()

state  tot_hog
9      1          1765
       2             8
       3             3
13     1          1692
       2            23
       3             3
       4             3
15     1          1806
       2            19
       3             3
17     1          1620
       2            10
       3             2
21     1          1670
       2            26
       3             1
22     1          1799
       2            23
       3             6
       4             2
29     1          1786
       2            22
       3             3
Name: tot_hog, dtype: int64

In [48]:
# Tamaño de localidad
# 1 Localidades con 100 000 y más habitantes  2 Localidades con 15 000 a 99 999 habitantes
# 3 Localidades con 2 500 a 14 999 habitantes  4 Localidades con menos de 2 500 habitantes
viv_mega_df.groupby('state')['tam_loc'].value_counts()

state  tam_loc
9      1          1713
       2            31
       4            18
       3            14
13     4           827
       3           388
       2           276
       1           230
15     1          1119
       3           279
       4           222
       2           208
17     1           587
       3           408
       2           364
       4           273
21     1           517
       4           474
       3           383
       2           323
22     1           786
       4           526
       3           370
       2           148
29     3           824
       2           627
       4           360
Name: tam_loc, dtype: int64

In [49]:
# Estrato socioeconómico   1 Bajo   2 Medio bajo    3 Medio alto   4 Alto
viv_mega_df.groupby('state')['est_socio'].value_counts()

state  est_socio
9      3             795
       2             728
       4             248
       1               5
13     2            1081
       1             461
       3              99
       4              80
15     2            1170
       3             303
       4             191
       1             164
17     2            1136
       3             238
       1             198
       4              60
21     2             812
       1             576
       3             219
       4              90
22     2             830
       3             390
       1             328
       4             282
29     2            1521
       3             128
       1              89
       4              73
Name: est_socio, dtype: int64

## Persona file

In [50]:
# Only Megalopolis data from the persona file
# folioviv begins with 9 for Ciudad de México  13 Hidalgo  15 México  17 Morelos  21 Puebla  22 Querétaro  29 Tlaxcala
per_mega_df = persona_df.loc[
    (persona_df["folioviv"] > 899999999) & (persona_df["folioviv"] < 1000000000) |
    (persona_df["folioviv"] > 1299999999) & (persona_df["folioviv"] < 1400000000) |
    (persona_df["folioviv"] > 1499999999) & (persona_df["folioviv"] < 1600000000) |
    (persona_df["folioviv"] > 1699999999) & (persona_df["folioviv"] < 1800000000) |
    (persona_df["folioviv"] > 2099999999) & (persona_df["folioviv"] < 2300000000) |
    (persona_df["folioviv"] > 2899999999) & (persona_df["folioviv"] < 3000000000), :]
per_mega_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46157 entries, 50355 to 188564
Data columns (total 58 columns):
folioviv      46157 non-null int64
foliohog      46157 non-null int64
id_pobla      46157 non-null int64
edad          46157 non-null int64
nacio_dia     46157 non-null object
nacio_mes     46157 non-null object
sexo          46157 non-null int64
parentesco    46157 non-null int64
asiste_esc    46157 non-null object
tipo_esc      46157 non-null object
turno_esc     46157 non-null object
tiene_beca    46157 non-null object
otorg_beca    46157 non-null object
forma_beca    46157 non-null object
no_asiste     46157 non-null object
grado_inst    46157 non-null object
nivel_inst    46157 non-null object
residencia    46157 non-null object
alfabetism    46157 non-null object
edo_conyug    46157 non-null object
trabajo_sp    46157 non-null object
motivo_aus    46157 non-null object
act_buscot    46157 non-null object
act_pensio    46157 non-null object
act_quehac    46157 non-null object
act_estudi    46157 non-null object
act_discap    46157 non-null object
act_otra      46157 non-null object
num_trabaj    46157 non-null object
subor         46157 non-null object
indep         46157 non-null object
personal      46157 non-null object
pago          46157 non-null object
contrato      46157 non-null object
lentes        46157 non-null object
dif_ver       46157 non-null object
a_auditivo    46157 non-null object
dif_oir       46157 non-null object
sin_ruido     46157 non-null object
con_ruido     46157 non-null object
dif_camina    46157 non-null object
usa_aparat    46157 non-null object
ap_caminar    46157 non-null object
cam_100mts    46157 non-null object
cam_500mts    46157 non-null object
sube_12esc    46157 non-null object
dif_record    46157 non-null object
frec_nerv     46157 non-null object
med_nerv      46157 non-null object
inte_nerv     46157 non-null object
frec_depre    46157 non-null object
med_depre     46157 non-null object
inte_depre    46157 non-null object
frec_dolor    46157 non-null object
inte_dolor    46157 non-null object
frec_cansa    46157 non-null object
tiem_cansa    46157 non-null object
inte_cansa    46157 non-null object
dtypes: int64(6), object(52)
memory usage: 20.8+ MB

In [51]:
# Add a new column to add the state number
per_mega_df.insert(1, 'state', 0)

In [52]:
# State is inserted after the field folioviv
per_mega_df.columns

Index(['folioviv', 'state', 'foliohog', 'id_pobla', 'edad', 'nacio_dia',
       'nacio_mes', 'sexo', 'parentesco', 'asiste_esc', 'tipo_esc',
       'turno_esc', 'tiene_beca', 'otorg_beca', 'forma_beca', 'no_asiste',
       'grado_inst', 'nivel_inst', 'residencia', 'alfabetism', 'edo_conyug',
       'trabajo_sp', 'motivo_aus', 'act_buscot', 'act_pensio', 'act_quehac',
       'act_estudi', 'act_discap', 'act_otra', 'num_trabaj', 'subor', 'indep',
       'personal', 'pago', 'contrato', 'lentes', 'dif_ver', 'a_auditivo',
       'dif_oir', 'sin_ruido', 'con_ruido', 'dif_camina', 'usa_aparat',
       'ap_caminar', 'cam_100mts', 'cam_500mts', 'sube_12esc', 'dif_record',
       'frec_nerv', 'med_nerv', 'inte_nerv', 'frec_depre', 'med_depre',
       'inte_depre', 'frec_dolor', 'inte_dolor', 'frec_cansa', 'tiem_cansa',
       'inte_cansa'],
      dtype='object')

In [53]:
# Assign the state number to make groups and counters
per_mega_df.loc[(per_mega_df["folioviv"] > 899999999) & (per_mega_df["folioviv"] < 1000000000), 'state'] = 9
per_mega_df.loc[(per_mega_df["folioviv"] > 1299999999) & (per_mega_df["folioviv"] < 1400000000), 'state'] = 13
per_mega_df.loc[(per_mega_df["folioviv"] > 1499999999) & (per_mega_df["folioviv"] < 1600000000), 'state'] = 15
per_mega_df.loc[(per_mega_df["folioviv"] > 1699999999) & (per_mega_df["folioviv"] < 1800000000), 'state'] = 17
per_mega_df.loc[(per_mega_df["folioviv"] > 2099999999) & (per_mega_df["folioviv"] < 2200000000), 'state'] = 21
per_mega_df.loc[(per_mega_df["folioviv"] > 2199999999) & (per_mega_df["folioviv"] < 2300000000), 'state'] = 22
per_mega_df.loc[(per_mega_df["folioviv"] > 2899999999) & (per_mega_df["folioviv"] < 3000000000), 'state'] = 29

In [54]:
# Count the rows by state
per_mega_df.groupby('state')['folioviv'].count()

state
9     5901
13    6520
15    7034
17    5784
21    6612
22    6941
29    7365
Name: folioviv, dtype: int64

### Dataframe for plot construction

### Variables chosen for the project:
•	edad: Edad N (3)
•	sexo: Sexo C (1)
•	nivel_inst: Nivel de instrucción C (2)
•	alfabetism: Alfabetismo C (1)
•	edo_conyug: Estado conyugal C (1)
•	act_buscot: Actividad busca de empleo C (1)
•	act_pensio: Actividad pensionado o jubilado C (1)
•	act_quehac: Actividad quehaceres del hogar C (1)
•	act_estudi: Actividad estudiante C (1)
•	act_discap: Actividad limitación física o mental C (1)
•	act_otra: Actividad de otra situación diferente C (1)
•	num_trabaj: Números de trabajos C (1)

In [55]:
# APARTADO B. CARACTERÍSTICAS DE LOS INTEGRANTES DEL HOGAR, EDUCACIÓN Y OCUPACIÓN PARA TODAS LAS PERSONAS DEL HOGAR
# 2. ¿Cuántos años cumplidos tiene ?
per_mega_df.groupby('state')['edad'].value_counts()

state  edad
9      40      118
       35      113
       22      111
       24      108
       30      107
       42      105
       23       98
       27       98
       19       95
       26       95
       29       95
       32       95
       60       94
       18       93
       25       93
       45       93
       43       90
       50       89
       17       88
       20       87
       33       87
       39       87
       52       86
       5        85
       21       85
       16       84
       34       84
       31       82
       46       82
       55       82
              ...
29     70       26
       71       24
       68       23
       72       23
       76       23
       75       19
       73       17
       78       17
       85       17
       81       16
       84       16
       79       14
       80       13
       77       11
       82       11
       87       10
       74        8
       83        8
       86        7
       88        6
       89        6
       91        4
       93        3
       94        3
       96        3
       92        2
       95        2
       90        1
       99        1
       102       1
Name: edad, Length: 687, dtype: int64

In [56]:
# 2. es... 1.hombre 2.mujer
per_mega_df.groupby('state')['sexo'].value_counts()

state  sexo
9      2       3057
       1       2844
13     2       3441
       1       3079
15     2       3655
       1       3379
17     2       3016
       1       2768
21     2       3437
       1       3175
22     2       3588
       1       3353
29     2       3814
       1       3551
Name: sexo, dtype: int64

In [57]:
# 15. ¿ sabe leer y escribir un recado?   1 SI  2 NO
per_mega_df.groupby('state')['alfabetism'].value_counts()

state  alfabetism
9      1             5349
                      405
       2              147
13     1             5299
                      675
       2              546
15     1             6176
                      610
       2              248
17     1             4968
                      500
       2              316
21     1             5331
                      692
       2              589
22     1             5863
                      688
       2              390
29     1             6240
                      733
       2              392
Name: alfabetism, dtype: int64

In [58]:
# 16. Actualmente   1 vive con su pareja en unión libre?  2 está separada(o)?  3 está divorciada(o)?
# 4 está viuda(o)?  5 está soltera(o)?   6 está casada(o) civil y/o religiosamente?
per_mega_df.groupby('state')['edo_conyug'].value_counts()

state  edo_conyug
9      5             1845
       6             1678
                      833
       1              818
       2              316
       4              272
       3              139
13     6             1820
       5             1669
                     1451
       1             1054
       4              266
       2              190
       3               70
15     5             2041
       6             2018
                     1343
       1             1029
       2              279
       4              245
       3               79
17     6             1602
       5             1517
                     1085
       1              894
       2              335
       4              272
       3               79
21     5             1764
       6             1613
                     1410
       1             1192
       2              297
       4              275
       3               61
22     6             2226
       5             2021
                     1441
       1              731
       4              234
       2              205
       3               83
29     6             2058
       5             1954
                     1603
       1             1146
       2              325
       4              214
       3               65
Name: edo_conyug, dtype: int64

In [59]:
# 13. ¿Cuál es el último año o grado que aprobó en la escuela?    Nivel de instrucción
# 03 Secundaria   02 Primaria   10 Licenciatura o profesional  04 Preparatoria o bachillerato  
# 00 Ninguno  01 Preescolar   05 Normal básica  06 Estudios técnicos o comerciales con primaria terminada  
# 07 Estudios técnicos o comerciales con secundaria terminada 08 Estudios técnicos o comerciales con 
# preparatoria terminada   09 Normal de licenciatura   11 Maestría   12 Doctorado
per_mega_df.groupby('state')['nivel_inst'].value_counts()

state  nivel_inst
9      3             1279
       2             1195
       10            1164
       4             1155
       1              196
                      193
       7              189
       0              185
       11             132
       8              106
       6               39
       12              34
       9               24
       5               10
13     2             1993
       3             1734
       4              857
       0              553
       10             522
                      323
       1              278
       7               84
       11              46
       8               43
       9               39
       5               28
       6               12
       12               8
15     3             1867
       2             1783
                     ...
21     5               10
       6                5
22     2             1851
       3             1820
       4              925
       10             843
       0              532
                      326
       1              260
       7              116
       8              110
       11              73
       9               28
       6               23
       5               20
       12              14
29     2             2069
       3             1967
       4             1157
       10             775
       0              443
                      342
       1              285
       7              120
       8               77
       11              53
       5               31
       9               25
       6               11
       12              10
Name: nivel_inst, Length: 98, dtype: int64

In [60]:
#APARTADO B. CARACTERÍSTICAS DE LOS INTEGRANTES DEL HOGAR, EDUCACIÓN Y OCUPACIÓN
#¿Entonces la semana pasada,
#1 estuvo buscando trabajo?
per_mega_df.groupby('state')['act_buscot'].value_counts()

state  act_buscot
9                    5793
       1              108
13                   6461
       1               59
15                   6937
       1               97
17                   5684
       1              100
21                   6569
       1               43
22                   6865
       1               76
29                   7276
       1               89
Name: act_buscot, dtype: int64

In [61]:
#2 es pensionado o jubilado?
per_mega_df.groupby('state')['act_pensio'].value_counts()

state  act_pensio
9                    5572
       2              329
13                   6426
       2               94
15                   6880
       2              154
17                   5610
       2              174
21                   6525
       2               87
22                   6798
       2              143
29                   7261
       2              104
Name: act_pensio, dtype: int64

In [62]:
#3 se dedicó a los quehaceres del hogar?
per_mega_df.groupby('state')['act_quehac'].value_counts()

state  act_quehac
9                    5087
       3              814
13                   4882
       3             1638
15                   5771
       3             1263
17                   4553
       3             1231
21                   5638
       3              974
22                   5801
       3             1140
29                   5853
       3             1512
Name: act_quehac, dtype: int64

In [63]:
#4 se dedicó a estudiar?
per_mega_df.groupby('state')['act_estudi'].value_counts()

state  act_estudi
9                    5228
       4              673
13                   5870
       4              650
15                   6070
       4              964
17                   5238
       4              546
21                   6027
       4              585
22                   6206
       4              735
29                   6591
       4              774
Name: act_estudi, dtype: int64

In [64]:
#5 Es una persona con alguna limitación física o mental que le impide trabajar por el resto de su vida
per_mega_df.groupby('state')['act_discap'].value_counts()

state  act_discap
9                    5820
       5               81
13                   6428
       5               92
15                   6947
       5               87
17                   5701
       5               83
21                   6510
       5              102
22                   6821
       5              120
29                   7287
       5               78
Name: act_discap, dtype: int64

In [65]:
#6 Está en otra situación diferente a las anteriores
per_mega_df.groupby('state')['act_otra'].value_counts()

state  act_otra
9                  5856
       6             45
13                 6478
       6             42
15                 6968
       6             66
17                 5762
       6             22
21                 6581
       6             31
22                 6906
       6             35
29                 7330
       6             35
Name: act_otra, dtype: int64

In [66]:
#¿Cuántos trabajos tuvo ... la semana pasada? 1. Solo uno 2. Dos o mas
per_mega_df.groupby('state')['num_trabaj'].value_counts()

state  num_trabaj
9      1             3027
                     2811
       2               63
13                   3516
       1             2871
       2              133
15                   3851
       1             3121
       2               62
17                   2875
       1             2815
       2               94
21     1             3376
                     3056
       2              180
22                   3568
       1             3238
       2              135
29                   3642
       1             3581
       2              142
Name: num_trabaj, dtype: int64

In [67]:
# 17. Durante la semana pasada, trabajó?   1 SÍ   2 NO    9 No sabe
per_mega_df.groupby('state')['trabajo_sp'].value_counts()

state  trabajo_sp
9      1             3034
       2             2034
                      833
13     1             2958
       2             2111
                     1451
15     1             3126
       2             2565
                     1343
17     1             2863
       2             1836
                     1085
21     1             3496
       2             1706
                     1410
22     1             3321
       2             2179
                     1441
29     1             3668
       2             2094
                     1603
Name: trabajo_sp, dtype: int64

In [68]:
# 14. ¿Hace 5 años, en 2012, en qué estado de la república mexicana o país vivía?
per_mega_df.groupby('state')['residencia'].value_counts()

state  residencia
9      9             5388
                      320
       15              69
       16              15
       12              11
       21              11
       30              11
       34              11
       20               9
       33               9
       28               8
       19               7
       1                4
       13               4
       14               3
       22               3
       26               3
       11               2
       25               2
       27               2
       29               2
       10               1
       17               1
       23               1
       24               1
       31               1
       32               1
       7                1
13     13            5580
                      551
                     ...
22     18               1
       23               1
       26               1
       3                1
       32               1
       4                1
29     29            6430
                      602
       15              71
       9               69
       21              64
       30              29
       33              21
       13              12
       2               10
       11               9
       19               8
       23               6
       12               5
       5                5
       16               4
       20               4
       28               4
       34               3
       14               2
       22               2
       3                2
       1                1
       10               1
       8                1
Name: residencia, Length: 176, dtype: int64

## Hogar file

In [69]:
# Only Megalopolis data from the hogar file
hog_mega_df = hogar_df.loc[
    (hogar_df["folioviv"] > 899999999) & (hogar_df["folioviv"] < 1000000000) |
    (hogar_df["folioviv"] > 1299999999) & (hogar_df["folioviv"] < 1400000000) |
    (hogar_df["folioviv"] > 1499999999) & (hogar_df["folioviv"] < 1600000000) |
    (hogar_df["folioviv"] > 1699999999) & (hogar_df["folioviv"] < 1800000000) |
    (hogar_df["folioviv"] > 2099999999) & (hogar_df["folioviv"] < 2300000000) |
    (hogar_df["folioviv"] > 2899999999) & (hogar_df["folioviv"] < 3000000000), :]
hog_mega_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12483 entries, 13982 to 52138
Data columns (total 13 columns):
folioviv      12483 non-null int64
foliohog      12483 non-null int64
huespedes     12483 non-null int64
huesp_come    12483 non-null object
trabaja_do    12483 non-null object
cuid_perso    12483 non-null object
lavandero     12483 non-null object
chofer        12483 non-null object
cocinero      12483 non-null object
jardinero     12483 non-null object
tot_integ     12483 non-null int64
tot_hom       12483 non-null int64
tot_muj       12483 non-null int64
dtypes: int64(6), object(7)
memory usage: 1.3+ MB

In [70]:
# Add a new column to add the state number
hog_mega_df.insert(1, 'state', 0)

In [71]:
# State is inserted after the field folioviv
hog_mega_df.columns

Index(['folioviv', 'state', 'foliohog', 'huespedes', 'huesp_come',
       'trabaja_do', 'cuid_perso', 'lavandero', 'chofer', 'cocinero',
       'jardinero', 'tot_integ', 'tot_hom', 'tot_muj'],
      dtype='object')

In [72]:
# Assign the state number to make groups and counters
hog_mega_df.loc[(hog_mega_df["folioviv"] > 899999999) & (hog_mega_df["folioviv"] < 1000000000), 'state'] = 9
hog_mega_df.loc[(hog_mega_df["folioviv"] > 1299999999) & (hog_mega_df["folioviv"] < 1400000000), 'state'] = 13
hog_mega_df.loc[(hog_mega_df["folioviv"] > 1499999999) & (hog_mega_df["folioviv"] < 1600000000), 'state'] = 15
hog_mega_df.loc[(hog_mega_df["folioviv"] > 1699999999) & (hog_mega_df["folioviv"] < 1800000000), 'state'] = 17
hog_mega_df.loc[(hog_mega_df["folioviv"] > 2099999999) & (hog_mega_df["folioviv"] < 2200000000), 'state'] = 21
hog_mega_df.loc[(hog_mega_df["folioviv"] > 2199999999) & (hog_mega_df["folioviv"] < 2300000000), 'state'] = 22
hog_mega_df.loc[(hog_mega_df["folioviv"] > 2899999999) & (hog_mega_df["folioviv"] < 3000000000), 'state'] = 29

In [73]:
# Count the rows by state
hog_mega_df.groupby('state')['folioviv'].count()

state
9     1790
13    1759
15    1853
17    1646
21    1725
22    1871
29    1839
Name: folioviv, dtype: int64

In [74]:
# Count the rows by state
viv_mega_df.groupby('state')['ubica_geo'].value_counts()

state  ubica_geo
9      90070000     300
       90050000     191
       90120000     165
       90150000     156
       90100000     138
       90030000     132
       90170000     107
       90140000     103
       90020000      92
       90060000      85
       90110000      84
       90130000      59
       90160000      59
       90040000      42
       90080000      40
       90090000      23
13     130480000    167
       130670000    115
       130510000     98
       130630000     86
       130760000     82
       130770000     82
       130130000     71
       130280000     68
       130300000     67
       130590000     53
       130290000     50
       130560000     44
       130640000     38
       130730000     38
                   ...
29     290360000     37
       290210000     36
       290140000     34
       290310000     31
       290380000     31
       290280000     30
       290390000     26
       290410000     24
       290300000     20
       290020000     19
       290070000     19
       290420000     19
       290460000     19
       290340000     18
       290530000     18
       290560000     18
       290550000     17
       290010000     16
       290170000     14
       290320000     14
       290490000     14
       290350000     10
       290540000     10
       290600000     10
       290270000      9
       290230000      8
       290500000      8
       290090000      5
       290570000      5
       290580000      5
Name: ubica_geo, Length: 249, dtype: int64

In [75]:
# Número de integrantes del hogar
hog_mega_df.groupby('state')['tot_integ'].value_counts()

state  tot_integ
9      2            395
       4            384
       3            379
       1            266
       5            200
       6             90
       7             35
       8             17
       9             10
       10             8
       11             2
       16             2
       13             1
       14             1
13     4            419
       2            311
       3            308
       5            271
       1            197
       6            133
       7             56
       8             42
       9             10
       10             6
       12             4
       11             2
15     4            470
       3            370
       5            318
       2            294
                   ...
21     12             3
       14             2
       13             1
22     4            445
       3            386
       2            311
       5            295
       1            187
       6            130
       7             58
       8             33
       9              9
       10             9
       11             4
       13             2
       14             2
29     4            477
       5            333
       3            317
       2            272
       6            152
       1            133
       7             68
       8             43
       9             25
       10            13
       11             2
       12             2
       14             1
       17             1
Name: tot_integ, Length: 93, dtype: int64

In [76]:
# Total de integrantes hombres
hog_mega_df.groupby('state')['tot_hom'].value_counts()

state  tot_hom
9      1          710
       2          508
       3          246
       0          241
       4           61
       5           16
       6            4
       8            2
       7            1
       9            1
13     1          657
       2          504
       3          281
       0          186
       4           90
       5           35
       6            6
15     1          670
       2          586
       3          314
       0          150
       4           95
       5           25
       6            6
       7            5
       8            1
       11           1
17     1          621
       2          482
       3          225
                 ...
       6            5
21     1          614
       2          525
       3          244
       0          166
       4          126
       5           35
       6            8
       7            5
       8            1
       9            1
22     1          683
       2          567
       3          303
       0          178
       4           95
       5           33
       6            5
       7            5
       8            1
       9            1
29     1          594
       2          592
       3          340
       0          142
       4          124
       5           33
       6           10
       7            2
       9            2
Name: tot_hom, Length: 63, dtype: int64

In [77]:
# Total de integrantes mujeres
hog_mega_df.groupby('state')['tot_muj'].value_counts()

state  tot_muj
9      1          743
       2          517
       3          245
       0          166
       4           80
       5           22
       6            9
       7            4
       8            3
       9            1
13     1          632
       2          525
       3          321
       4          112
       0          105
       5           43
       6           16
       7            3
       8            2
15     1          620
       2          596
       3          344
       4          126
       0          109
       5           44
       6           12
       7            1
       8            1
17     1          616
       2          548
                 ...
       8            2
21     1          616
       2          511
       3          286
       4          139
       0          102
       5           50
       6           15
       7            4
       8            1
       9            1
22     1          638
       2          626
       3          322
       0          124
       4          105
       5           34
       6           16
       7            4
       8            1
       10           1
29     1          614
       2          571
       3          376
       4          124
       0           75
       5           51
       6           19
       7            7
       8            2
Name: tot_muj, Length: 66, dtype: int64